/******************************
 ** 初始化
 ** 兼容到IE7
 ** power by:www.hnjing.com
 ******************************/
* { margin:0; padding:0; }
body  { min-width:1100px; font:14px/1.5 "Microsoft Yahei", Arial; color:#666; background:#fff; }
img { border:0px; }
ul,ol { list-style-type:none; vertical-align:bottom; }
table { border-collapse:collapse; border-spacing:0; }
input,textarea,select { font:14px/1 "Microsoft Yahei", Arial; color:#666; outline:0; }
textarea { resize:none; overflow:auto; }
h1,h2,h3,h4,h5,h6,font { font-size:14px; }
a { color:#666; text-decoration:none; cursor:pointer; }
a:hover,a:active { color:#015a2c; text-decoration:none; }
.clear { clear:both; font-size:0px; line-height:0px; height:0px; }
.hidden { display:none; }
.center { text-align:center; }
.arrow { font-family:'Small Fonts'; font-style:normal; }
.autocut { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all; }
.wrapper, .wrap { width:1000px; margin:0 auto; position:relative; }
.wrapper { margin-bottom:50px; min-height:auto; padding-top:30px; }


/******************************
 ** 首页风格
 ******************************/
.header { height:150px; border-top:20px solid #017d3d; background:#015a2c; position:relative; z-index:2; }
.header .logo { width:464px; height:140px; position:absolute; top:-20px; left:50%; margin:0 0 0 -232px; background:url(../images/logo.png) center -1px no-repeat; text-align:center; }
.header .logo img { position:relative; top:10px; }
.header .tag { float:left; margin:50px 0 0 0; line-height:1.2; }
.header .tag h2 { font-size:20px; color:#84c000; }
.header .tag p { font-size:16px; color:#73a700; }
.header .tel { float:right; margin:50px 0 0 0; background:url(../images/header-tel.png) left center no-repeat; padding:0 0 0 50px; line-height:1.2; }
.header .tel h2 { font-size:13px; font-weight:normal; color:#84c000; }
.header .tel p { font-size:30px; color:#73a700; }

.nav { background:#fff; position:relative; z-index:3; }
.nav .list { height:60px; }
.nav li { float:left; height:60px; position:relative; text-align:center; }
.nav li > a { display:block; width:111px; height:60px; line-height:60px; background:url(../images/nav-line.png) left center no-repeat; color:#015a2c; font-size:15px; }
.nav li:first-child > a { background:none; }
.nav li > a:hover{text-decoration: underline;}
#jiba1{text-decoration: underline;}
.nav .drop { position:absolute; left:0; top:55px; width:100%; border-top:5px solid #560e03; display:none; background:url(about:blank); }
.nav .drop dd { margin-bottom:1px; }
.nav .drop a { display:block; height:40px; line-height:40px; background:#FFF; font-weight:bold; color:#015a2c; }
.nav .drop a:hover { background:#f5f5f5; color:#560e03; }

.banner { width:100%; min-width:1000px; position:relative; overflow:hidden; z-index:2; }
.banner ul { width:100%; }
.banner li { width:100%; position:absolute; z-index:1; overflow:hidden; background:#fff; display:none; }
.banner li:first-child { display:block; }
.banner img { width:1920px; display:block; position:relative; left:50%; margin-left:-960px; top:0; }
.banner .tip { width:1000px; height:15px; position:absolute; left:50%; bottom:15px; margin:0 0 0 -500px; z-index:3; text-align:center; }
.banner .tip span { display:inline-block; width:15px; height:15px; line-height:0; background:#1e9a42; margin:0 5px; cursor:pointer; border-radius:15px; }
.banner .tip span.cur { width:30px; background:#fff; }
.banner .prev, .banner .next { width:64px; height:128px; position:absolute; top:50%; margin-top:-64px; z-index:3; cursor:pointer; }
.banner .prev { left:50%; margin-left:-560px; background:url(../images/banner-prev.png) center center no-repeat; }
.banner .next { right:50%; margin-right:-560px; background:url(../images/banner-next.png) center center no-repeat; }
.banner .prev:hover, .banner .next:hover { opacity:.4; filter:Alpha(opacity=40); }
.banner, .banner ul,.banner img { height:500px; }
.banner.mini, .banner.mini ul, .banner.mini img { height:300px; }

.searcher { height:44px; padding:15px 0; border-bottom:1px solid #ddd; margin-bottom:0px; }
.searcher .tag { float:left; }
.searcher .tag h2 { font-size:17px; font-weight:normal; }
.searcher .tag p { font-size:12px; font-family:Arial; text-transform:uppercase; }
.searcher .tel { float:left; height:44px; line-height:44px; margin:0 0 0 40px; background:url(../images/searcher-tel.png) left center no-repeat; padding:0 0 0 22px; }
.searcher .sos { width:300px; height:30px; padding:7px 0 7px 100px; position:absolute; right:0; top:0; border-left:1px solid #ddd; }
.searcher .sos .txt { width:288px; height:28px; line-height:28px; border:1px solid #ddd; padding:0 0 0 10px; }
.searcher .sos .submit { position:absolute; right:0; top:7px; width:28px; height:28px; background:url(../images/searcher-submit.png) center center no-repeat; border:0; cursor:pointer; }

.ipro { padding:80px 0 0; }
.ipro .head { text-align:center; margin-bottom:40px; }
.ipro .head h3 { height:55px; line-height:60px; font-weight:normal; font-size:50px; text-transform:uppercase; font-family:Aparajita; color:#560e03; overflow:hidden; }
.ipro .head h3:before, .ipro .head h3:after { content:''; width:30px; height:2px; background:#ddd; display:inline-block; vertical-align:middle; }
.ipro .head h3:before { margin-right:10px; }
.ipro .head h3:after { margin-left:10px; }
.ipro .head h3 span { color:#015a2c; }
.ipro .head h2 { width:500px; height:66px; line-height:66px; font-size:35px; color:#015a2c; margin:0 auto; border-top:2px solid #ddd; }
.ipro .classify { margin-bottom:50px; }
.ipro .classify .list { float:left; width:100%; }
.ipro .classify li { float:left; width:196px; margin:0 0 0 70px; text-align:center; }
.ipro .classify li:first-child { margin-left:0; }
.ipro .classify li > a { display:block; color:#015a2c; }
.ipro .classify .img { width:196px; height:196px; position:relative; }
.ipro .classify .img img { width:196px; height:196px; }
.ipro .classify .img i { position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/classify.png) center center no-repeat; }
.ipro .classify h3 { height:60px; line-height:60px; font-size:20px; font-weight:normal; }
.ipro .classify li:hover .img i { background:url(../images/classify-hover.png) center center no-repeat; }
.ipro .classify li:hover a { color:#734641; }
.ipro .classify .drop { width:1000px; height:50px; line-height:50px; border:1px dotted #ddd; position:relative; display:none; }
.ipro .classify em { width:19px; height:11px; background:url(../images/pro-up.png) center center no-repeat; position:absolute; left:0; top:-12px; }
.ipro .classify dl { overflow:hidden; }
.ipro .classify dd { display:inline; margin:0 10px; }
.ipro .classify a {}
.ipro .classify .drop a:hover { color:#015a2c; }
.ipro .classify .item-1 .drop { text-align:left; }
.ipro .classify .item-1 dl { padding-left:68px; }
.ipro .classify .item-1 em { left:88px; }
.ipro .classify .item-2 .drop { left:-267px; text-align:left; }
.ipro .classify .item-2 dl { padding-left:335px; }
.ipro .classify .item-2 em { left:355px; }
.ipro .classify .item-3 .drop { left:-537px; text-align:right; }
.ipro .classify .item-3 dl { padding-right:335px; }
.ipro .classify .item-3 em { left:625px; }
.ipro .classify .item-4 .drop { left:-800px; text-align:right; }
.ipro .classify .item-4 dl { padding-right:68px; }
.ipro .classify .item-4 em { left:890px; }

.ipro .main { padding:0 0 80px; }
.ipro .main .list { float:left; width:100%; margin-bottom:20px; }
.ipro .main .Original { float:left; width:620px; height:465px; overflow:hidden; position:relative; }
.ipro .main .Original img { display:block; width:620px; height:465px; }
.ipro .main .Original h3 { position:absolute; left:0; bottom:0; right:0; height:50px; line-height:50px; font-size:20px; font-weight:normal; text-align:center; color:#FFF; background:url(../images/blank.png) center center repeat; }
.ipro .main .mini { float:right; width:370px; height:280px; overflow:hidden; position:relative; margin-bottom:10px; }
.ipro .main .mini img { width:370px; height:280px; }
.ipro .main .mini h3 { position:absolute; left:0; bottom:0; right:0; height:50px; line-height:50px; font-size:20px; font-weight:normal; text-align:center; color:#FFF; background:url(../images/blank.png) center center repeat; }
.ipro .main .Original, .ipro .main .mini { display:none; }
.ipro .main .list > *:first-child, .ipro .main .list > *:first-child + * { display:block; }
.ipro .main .online { float:right; width:370px; height:175px; overflow:hidden; position:relative; background:#015a2c; }
.ipro .main .online a { width:146px; height:46px; line-height:46px; border:2px solid #fff; text-align:center; position:absolute; left:50%; top:50%; margin:-25px 0 0 -75px; color:#FFF; font-size:18px; }
.ipro .main .online a:hover { background:#fff; color:#015a2c; }
.ipro .tip { text-align:center; height:30px; line-height:30px; }
.ipro .tip span { display:inline-block; width:30px; height:30px; margin:0 5px; background:url(../images/pro-tip.png) center 0 no-repeat; vertical-align:middle; cursor:pointer; }
.ipro .tip span.current { background-position:center -30px; }

.icase { background:url(../images/case.png) center top repeat-x; padding:70px 0 0; }
.icase .wrap { height:670px; }
.icase .head { text-align:center; margin-bottom:40px; }
.icase .head h3 { height:50px; line-height:50px; font-weight:normal; font-size:50px; text-transform:uppercase; font-family:Aparajita; color:#fff; overflow:hidden; }
.icase .head h3 span { color:#560e03; }
.icase .head h2 { width:500px; height:40px; line-height:40px; font-size:35px; color:#fff; margin:0 auto; }
.icase .main {}
.icase .main .list {}
.icase .main .sketch { float:right; width:222px; height:384px; background:#FFF; overflow:hidden; }
.icase .main .sketch:first-child { float:left; width:255px; }
.icase .main .sketch img { display:block; width:100%; }
.icase .main .item { float:left; width:252px; height:189px; overflow:hidden; margin:0 0 6px 6px; background:#FFF; position:relative; }
.icase .main .item img { display:block; width:100%; }
.icase .main .item h3 { position:absolute; left:0; top:0; width:100%; height:74px; background:url(../images/case-shadow.png) center center no-repeat; color:#FFF; text-align:center; padding:115px 0 0; font-size:20px; font-weight:normal; display:none; }
.icase .main .item:hover h3 { display:block; }
.icase .more { position:absolute; bottom:0; left:50%; margin-left:-45px; }
.icase .more a { display:block; overflow:hidden; width:91px; height:42px; line-height:50px; font-size:15px; background:url(../images/case-more.png) center top no-repeat; text-align:center; color:#FFF; }

.iabout { padding:60px 0 90px; }
.iabout .head { margin:0 0 20px; text-align:center; }
.iabout .head h2 { height:70px; line-height:70px; font-size:40px; color:#560e03; margin:0 30px; }
.iabout .head h2 em { font-style:normal; font-size:55px; font-weight:normal; font-family:Aparajita; text-transform:uppercase; margin-right:10px; }
.iabout .head h2 span { color:#015a2c; }
.iabout .sketchmap { float:left; width:400px; overflow:hidden; }
.iabout .sketchmap .img { height:270px; overflow:hidden; }
.iabout .sketchmap .img img { display:block; height:270px; }
.iabout .sketchmap .inf { padding:10px 0 0 0; font-size:15px;  line-height:24px; }
.iabout .sketchmap .inf a { }
.iabout .info { margin:0 0 0 470px; height:190px;  font-size:15px; padding:0 0 160px; position:relative; line-height:24px; }
.iabout .info img { position:absolute; left:0; bottom:0; }

.iadv { height:416px; background:url(../images/adv.png) center top repeat; position:relative; }
.iadv > * { position:absolute; left:50%; margin-left:60px; color:#FFF; }
.iadv h2 { top:60px; font-size:50px; font-family:Impact; font-weight:normal; line-height:1.1; }
.iadv h3 { top:165px; font-size:30px; font-weight:normal; }
.iadv h3 span { color:#000; }
.iadv a { top:220px; width:150px; height:50px; line-height:50px; border:1px solid #fff; text-align:center; font-size:20px; }
.iadv a:hover { background:#FFF; color:#9caaba; }

.inews { padding:80px 0 100px; }
.inews .head { text-align:center; margin-bottom:40px; }
.inews .head h3 { height:55px; line-height:60px; font-weight:normal; font-size:50px; text-transform:uppercase; font-family:Aparajita; color:#560e03; overflow:hidden; }
.inews .head h3:before, .inews .head h3:after { content:''; width:30px; height:2px; background:#ddd; display:inline-block; vertical-align:middle; }
.inews .head h3:before { margin-right:10px; }
.inews .head h3:after { margin-left:10px; }
.inews .head h3 span { color:#015a2c; }
.inews .head h2 { width:500px; height:66px; line-height:66px; font-size:35px; color:#015a2c; margin:0 auto; border-top:2px solid #ddd; }
.inews .main { padding:0 0 50px; height:455px; position:relative; overflow:hidden; }
.inews .list { width:500%; float:left; position:relative; }
.inews .item { float:left; width:316px; position:relative; margin:0 0 0 24px; }
.inews .item:first-child { margin-left:0; }
.inews .item img { width:100%; height:455px; display:block; }
.inews .item .inf { position:absolute; left:0; right:0; bottom:0; background:url(../images/blank2.png) center center repeat; }
.inews .item .inf h3 { padding:20px 20px 0; font-size:16px; font-weight:normal; }
.inews .item .inf p { padding:10px 20px 20px; color:#FFF; }
.inews .item .inf a { color:#FFF; }
.inews .item .inf a:hover { color:#84c000; }

.inews .foot { position:relative; }
.inews .foot .address { font-size:18px; }
.inews .foot .tag { text-align:right; width:560px; font-size:18px; margin-bottom:50px; }
.inews .foot .btn { position:absolute; right:0; top:4px; }
.inews .foot .btn a { float:left; width:160px; height:48px; line-height:48px; text-align:center; background:#560e03; color:#FFF; border-radius:3px; margin-left:10px; font-size:18px; }
.inews .foot .btn a:first-child { background:#015a2c; }
.inews .foot .tel { border-top:2px solid #ddd; height:100px; line-height:100px; text-align:center; font-size:35px; color:#560e03; }
.inews .foot .tel:before { content:''; width:42px; height:42px; background:url(../images/news-tel.png) center center no-repeat; display:inline-block; vertical-align:middle; margin-right:10px; }

.footer { background:#015a2c; padding:60px 0 50px; }
.subnav { float:left; }
.subnav .list { float:left; width:122px; }
.subnav .list dt { font-size:15px; font-size:15px; margin-bottom:20px; }
.subnav .list dd { line-height:28px; }
.subnav .list a { color:#FFF; }

.subcode { float:left; width:112px; text-align:center; color:#FFF; }
.subcode img { display:block; width:112px; height:112px; }
.subcode p { height:40px; line-height:40px; }

.subtel { float:right; width:220px; color:#FFF; line-height:24px; }

.bottomer { background:#e5e5e5; line-height:28px; padding:20px 0; }
.bottomer a { margin:0 10px; }
.bottomer .pos { position:absolute; right:0; top:0;  }
.bottomer .pos a { margin-left:0; }


/******************************
 ** 内页架构
 ******************************/
.sidebar { float:left; width:234px; }
.side-menu { border:1px solid #ddd; }
.topclass { width:100%; height:60px; padding:20px 0 0 0; text-align:center; }
.topclass h2 { height:30px; line-height:30px; font-size:24px; }
.topclass p { font-size:15px; }

.side-menu .list { background:#fff; padding:5px 0 15px; }
.side-menu dd { padding:0 20px; }
.side-menu dd > a { display:block; height:45px; line-height:45px; font-size:16px; padding:0 0 0 30px; border-bottom:1px dashed #ddd; background:url(../images/menu-dd.png) left center no-repeat; overflow:hidden; }
.side-menu dd > a:hover {  }
.side-menu .drop { width:100%; display:none; border-bottom:1px dashed #ddd; padding:5px 0; }
.side-menu .drop li { width:100%; height:30px; line-height:30px; }
.side-menu .drop a { display:block; padding:0 0 0 30px; font-size:15px; }
.side-menu .drop a:hover {  }
.side-menu dd.current { border-left:2px solid #015a2c; margin-left:-1px; }
.side-menu dd.current .drop { display:block; }
.side-menu li.current > a, .side-menu dd.current > a { color:#000; font-weight:bold; }
.side-menu dd.current > a { background-image:url(../images/menu-dd-hover.png); }

.side-contact { margin-bottom:20px; position:relative; top:20px; background:#FFF; }
.side-contact .sketch { }
.side-contact .sketch img { display:block; width:100%; }
.side-contact .main { padding:15px 10px; line-height:2; border:1px solid #ddd; border-top:0; }
.side-contact .main h2 { font-size:30px; text-align:center; }

.location { height:67px; line-height:67px; background:#015a2c; border-bottom:4px solid #98dd02; position:relative; margin-bottom:-1px; }
.location h2 { font-size:30px; font-weight:normal; padding:0 0 0 50px; background:url(../images/location-h2.png) 18px center no-repeat; color:#FFF; }
.location .io { position:absolute; top:0; right:20px;  padding:0 0 0 15px; color:#98dd02; }
.location .io a { color:#98dd02; }
.location .io a:hover { text-decoration:underline; }

.location + * { border:1px solid #ddd; }

.container { float:right; width:740px; }
.content { padding:20px; border:1px solid #ddd; margin-bottom:20px; }


/******************************
 ** 内页页面通用
 ******************************/
/* 4:3 图片 */
.list-product { width:100%; background:#fff; padding:20px 0; margin-bottom:10px; }
.list-product .list { float:left; width:100%; }
.list-product .item { float:left; width:220px; margin:0 0 0 20px; }
.list-product .item .img { width:100%; overflow:hidden; background:#f1f1f1; }
.list-product .item .img img { display:block; width:100%; height:176px; }
.list-product .item h3 { height:40px; line-height:40px; text-align:center; font-weight:400; }
.list-product .item h3 a { }

/* 4:3 图文 */
.list-case { padding:0 20px; margin-bottom:10px; background:#fff; }
.list-case .list { padding:10px 0 10px; }
.list-case .item { padding:15px 0 15px 200px; height:135px; border-top:1px dashed #ddd; position:relative; }
.list-case .item:first-child { border-top:0; }
.list-case .item .img { position:absolute; left:0; top:15px; width:180px; height:135px; background:#f1f1f1; }
.list-case .item .img img { display:block; width:180px; height:135px; }
.list-case .item h3 { font-size:16px; line-height:20px; margin-bottom:8px; }
.list-case .item h3 a { }
.list-case .item h3 a:hover { text-decoration:underline; }
.list-case .item p { height:60px; line-height:20px; color:#666; overflow:hidden; margin-bottom:16px; }
.list-case .item .detail { height:20px; }
.list-case .item .detail a { line-height:20px; }

/* 3:4 图文 */
.list-case2 { padding:0 20px; margin-bottom:10px; background:#fff; }
.list-case2 .list { padding:10px 0 10px; }
.list-case2 .item { padding:15px 0 15px 140px; height:160px; border-top:1px dashed #ddd; position:relative; }
.list-case2 .item:first-child { border-top:0; }
.list-case2 .item .img { position:absolute; left:0; top:15px; width:120px; height:160px; background:#f1f1f1; }
.list-case2 .item .img img { display:block; width:120px; height:160px; }
.list-case2 .item h3 { font-size:16px; line-height:20px; margin-bottom:8px; }
.list-case2 .item h3 a { }
.list-case2 .item h3 a:hover { text-decoration:underline; }
.list-case2 .item p { height:60px; line-height:20px; color:#666; overflow:hidden; margin-bottom:16px; }
.list-case2 .item .detail { height:20px; }
.list-case2 .item .detail a { line-height:20px; }

/* 图片相册 */
.list-photo { width:100%; }
.list-photo .list { float:left; width:101.5%; }
.list-photo .item { float:left; width:183px; padding:10px 10px 0; border:1px solid #ddd; margin:0 10px 10px 0; cursor:pointer; }
.list-photo .item .img { width:100%; height:137px; overflow:hidden; background:#f1f1f1; }
.list-photo .item .img img { width:100%; height:137px; }
.list-photo .item h3 { height:40px; line-height:40px; text-align:center; font-weight:400; }
.list-photo .item:hover { border-color:#c8a48e; }

/* 附属简介 */
.list-news { padding:0 20px; margin-bottom:10px; background:#fff; }
.list-news .list { padding:10px 0 10px; }
.list-news .item { padding:15px 0; height:70px; border-top:1px dashed #ddd; position:relative; }
.list-news .item:first-child { border-top:0; }
.list-news .item .date { position:absolute; right:0; top:15px; line-height:20px; color:#777; }
.list-news .item h3 { font-size:16px; line-height:20px; margin-bottom:8px; }
.list-news .item h3 a {  }
.list-news .item h3 a:hover { text-decoration:underline; }
.list-news .item p { height:40px; line-height:20px; color:#777; overflow:hidden; }

/* 新闻详情页 */
.news-content { }
.news-content h1 { padding:0 0 10px; font-size:24px; color:#ff5d0c; line-height:1.4; }
.news-content .rap { height:40px; line-height:40px; border-bottom:1px dashed #ddd; margin-bottom:20px; }
.news-content .rap span { margin:0 20px 0 0; }
.news-content .rap b { font-weight:400; }

/* 案例详情页 */
.case-content { }
.case-photo { width:100%; text-align:center; }
.case-photo img { max-width:100%; }
.case-content h1 { padding:10px 0 20px; font-size:20px; color:#00792e; line-height:1.4; text-align:center; }

/* 产品详情页 */
.product-content { }
.product-content h1 { font-size:24px; line-height:1.2; color:#ff5d0c; margin-bottom:20px; }
.product-photo { float:left; width:400px; }
.product-photo .original { width:400px; height:300px; overflow:hidden; margin-bottom:10px; border:1px solid #ddd; }
.product-photo .original img { display:block; width:auto; height:300px; margin:0 auto; }
.product-info { margin:0 0 0 430px; }
.product-info .inso { margin-bottom:20px; }
.product-info .inso dd { height:20px; line-height:20px; margin-bottom:10px; font-size:16px; }
.product-info .inso span { color:; }
.product-info .tel { padding:15px 0 15px 20px; border:1px solid #ddd; margin-bottom:27px; }
.product-info .tel dt { height:30px; line-height:30px; font-size:18px; padding:0 0 0 35px; background:url(../images/ico-tel.png) left center no-repeat; }
.product-info .tel dd { font-size:30px; color:#ff5d0c; line-height:1.2; }
.product-info .order { margin-bottom:60px; }
.product-info .order a { display:block; width:156px; height:40px; line-height:40px; color:#FFF; font-size:16px; font-weight:700; background:#ff5d0c; text-align:center; }
.product-info .order a:hover { background:#e54e03; }
.article-container { border-top:1px dashed #ddd; margin:20px 0 0; padding-top:30px; }
.article-container .article { padding-bottom:10px; }
.article-head { padding:20px 0 10px; }
.article-head h2 { width:240px; height:40px; line-height:40px; padding:0 0 0 15px; background:#f8f8f8; font-size:16px; color:#5f412e; }

/* 产品详情页 */
.original2 { width:600px; height:auto; overflow:hidden; margin:0 auto 10px; }
.original2 img { display:block; width:100%; height:auto; }
.product-info2 { position:relative; padding:10px 0px 10px 0; min-height:35px; }
.product-info2 h1 { font-size:20px; text-align:center; }
.product-info2 .tel { width:220px; height:; background:url(../images/ico-tel2.png) left top no-repeat; padding:0 0 0 60px; line-height:1.1; position:absolute; right:0; top:10px; display:none; }
.product-info2 .tel dt { font-size:16px; font-weight:700; }
.product-info2 .tel dd { font-size:30px; color:#ff5d0c; font-weight:700; }


/******************************
 ** 组件类
 ******************************/

.toolbar { width:109px; padding:65px 0 0; background:url(../images/tool-top.png) center top no-repeat; position:fixed; right:10px; top:200px; z-index:50; }
.toolbar .pointer { width:27px; height:117px; position:absolute; top:95px; left:-27px; cursor:pointer; background:url(../images/tool-pointer.png) 0 0 no-repeat; }
.toolbar .pointer.active { background-position:0 -120px !important; }
.toolbar .main { width:103px; padding:0 3px 60px; background:url(../images/tool-main.png) center bottom no-repeat; text-align:center; }
.toolbar .tel { line-height:20px; padding:5px 0 4px; background-color: #fff; left:-3px;;position: relative; width:107px ;  border-left:1px solid #DCE1E7; 
  border-right:1px solid #DCE1E7; top:4px;  
}
.toolbar .kf { padding:5px 0; }
.toolbar .kf dd {}
.toolbar .kf a { line-height:24px; }
.toolbar .kf a.ico-qq { width:103px; height:35px; display:block; overflow:hidden; text-indent:-99em; background:url(../images/tool-kf-qq.png) center center no-repeat; margin-bottom:3px; }
.toolbar .code { }
.toolbar .code dt { width:80px; height:80px; background:#eee; margin:0 auto; }
.toolbar .code img { width:80px; height:80px; }
.toolbar .code dd { font-size:12px; color:#999; overflow:hidden; }
.toolbar .top { width:30px; height:47px; background:url(../images/tool-itop.png) center top no-repeat; position:absolute; bottom:-30px; left:40px; cursor:pointer; }

.pager { width:100%; height:40px; padding:0; border:1px solid #ddd; overflow:hidden; }
.pager > * { float:left; height:40px; line-height:40px; padding:0 20px; background:#FFF; border-right:1px solid #ddd; }
.pager > *:first-child { display:none; }
.pager > *:first-child + * { margin-left:0px; }
.pager > span { cursor:no-drop; }
.pager > span.cur { cursor:default; background:#f1f1f1; color:#734641; font-weight:700; }
.pager > a:hover { background:#f1f1f1; }

.relink { padding:0 20px; height:40px; line-height:40px; background:#fff; margin-bottom:20px; border:1px solid #ddd; }
.relink p { float:right; width:50%; text-align:right; overflow:hidden; }
.relink p:first-child { float:left; text-align:left; }

.recommend-pro { background:#fff; padding:0 20px; margin-bottom:20px; border:1px solid #ddd; }
.recommend-pro .head { height:60px; line-height:60px; position:relative; border-bottom:1px solid #ddd; }
.recommend-pro .head h2 { font-size:18px; }
.recommend-pro .head .mo { position:absolute; right:0; top:0; font-size:16px; color:#999; }
.recommend-pro .head .mo:hover { color:#ff5d0c; }
.recommend-pro .main { width:100%; overflow:hidden; padding:20px 0; }
.recommend-pro .list { float:left; width:110%; }
.recommend-pro .item { float:left; width:163px; margin:0 19px 0 0; }
.recommend-pro .item .img { width:100%; height:122px; overflow:hidden; margin-bottom:10px; background:#f1f1f1; }
.recommend-pro .item .img img { width:100%; height:122px; }
.recommend-pro .item h3 { height:30px; line-height:30px; text-align:center; margin-bottom:10px; font-weight:400; }
.recommend-pro .item h3 a { }
.recommend-pro .item .order { text-align:center; }
.recommend-pro .item .order a { display:block; height:32px; line-height:32px; width:124px; margin:0 auto; color:#fff; background:url(../images/order.png) center center no-repeat; }
.recommend-pro .item:hover { border-color:#c8a48e; }
.recommend-pro .item .order a:hover { background-image:url(../images/order-hover.png); }

.recommend-form { padding:0 20px; background:#fff; border:1px solid #ddd; }
.recommend-form .head { height:60px; line-height:60px; position:relative; border-bottom:1px solid #ddd; }
.recommend-form .head h2 { font-size:18px; }
.recommend-form .main { width:100%; overflow:hidden; padding:40px 0 20px; }
.recommend-form .main > * { float:left; width:100%; clear:both; margin-bottom:15px; position:relative; }
.recommend-form .row-1 { width:350px; height:auto; padding:0 0 0 50px; border:1px solid #ddd; }
.recommend-form .row-2 { width:638px; height:auto; padding:0 0 0 0; border:1px solid #ddd; }
.recommend-form .row-3 { width:650px; height:auto; }
.recommend-form .ico-name { background:url(../images/form-name.png) 15px center no-repeat; }
.recommend-form .ico-phone { background:url(../images/form-phone.png) 15px center no-repeat; }
.recommend-form .ico-email { background:url(../images/form-email.png) 15px center no-repeat; }
.recommend-form .required .tip { position:absolute; right:0; top:0; height:40px; line-height:40px; padding:0 10px; font-style:normal; color:#F00; }
.recommend-form .txt { width:100%; height:40px; line-height:40px; background:#fff; border:0; color:#999; }
.recommend-form .text { width:628px; border:0; background:#FFF; padding:5px 5px; line-height:20px; height:100px; color:#999; }
.recommend-form img.code { float:left; width:110px; height:42px; }
.recommend-form input.code { float:left; width:150px; height:40px; line-height:40px; border:1px solid #ddd; background:#FFF; margin-left:10px; padding:0 10px; color:#999; }
.recommend-form .submit, .recommend-form .reset { float:left; margin:0 0 0 10px; width:164px; height:42px; border:0; cursor:pointer; color:#FFF; font-size:16px; }
.recommend-form .submit { background:#015a2c; }
.recommend-form .reset { background:#aaa; }
.recommend-form .submit:hover { background:#734641; }
.recommend-form .reset:hover { background:#999; }
.recommend-form .onfocus, .recommend-form .onfocus input.code { border-color:#aaa; }

.bdmap { height:400px; }
.BMap_bubble_title a { display:inline-block; padding:4px 10px; background:#ff6600; color:#fff; border-radius:3px; }
.BMap_bubble_title a:hover { background:#ed6104; }
.BMap_bubble_title + .BMap_bubble_content {font-size:12px; line-height:14px; padding:9px 0 0; color:#777; }

.bdshare { width:auto; height:36px; }
.bdshare > * { float:right; }
.bdshare .head { height:36px; line-height:36px; }

.article { line-height:2; padding:20px; font-family:"microsoft YaHei UI" !important; background:#fff; }
.article img { max-width:100%; }

.article-adv { height:100px; background:#5f412e; margin-bottom:20px; }
.article-adv .icon { float:left; width:; height:80px; margin:10px 20px 0 20px; }
.article-adv .tel { float:left; margin:20px 0 0 0; }
.article-adv .tel dt { font-size:16px; color:#c8a48e; background:url(../images/ico-tel2.png) left center no-repeat; padding:0 0 0 25px; }
.article-adv .tel dd { line-height:1.2; font-size:32px; color:#f0c422; }
.article-adv .qiao { float:right; width:126px; height:36px; margin:32px 20px 0 0; background:url(../images/ico-qiao.png) center center no-repeat; line-height:33px; text-align:center; color:#5f412e; }
.article-adv .qiao:hover { background-image:url(../images/ico-qiao-hover.png); }

.ajax-pager { text-align:right; padding:10px 0; }
.ajax-pager > * { display:inline-block; height:32px; line-height:32px; padding:0 20px; border:1px solid #ddd; margin-left:-6px; background:#FFF;  }
.ajax-pager span { cursor:no-drop; }
.ajax-pager span.current { cursor:default; }
.ajax-pager a:hover { background:#f1f1f1; }

.ig-form-notice { position:absolute; z-index:101; width:auto; padding:5px 20px; border:1px solid #e0272c; background:#ffe8e9; border-radius:3px; box-shadow:1px 1px 5px rgba(0,0,0,0.2); color:#e0272c; }
.ig-form-notice:before, .ig-form-notice:after { content:''; position:absolute; left:20px; top:-20px; width:0; height:0; border:10px solid transparent; border-bottom-color:#e0272c; }
.ig-form-notice:after { top:-19px; border-bottom-color:#ffe8e9; }

[ig-null], [ig-loading] { margin-bottom:0px; padding:0 20px;  }

.dialog-alert { width:440px; height:auto; position:fixed; left:50%; top:50%; margin:-150px 0 0 -220px; z-index:100; background:#FFF; background:-webkit-linear-gradient(top, #f1f1f1 0%, #FFF 10%, #FFF 100%); display:none; }
.dialog-alert .head { height:40px; line-height:40px; position:relative; margin-bottom:10px; }
.dialog-alert .head h2 { font-size:16px; padding:0 0 0 15px; }
.dialog-alert .head .close { width:40px; height:40px; background:url(../images/ico-close.png) center center no-repeat; position:absolute; right:0; top:0; }
.dialog-alert .head .close:hover { -webkit-transform:rotate(90deg); transform:rotate(90deg); }
.dialog-alert .main { padding:0 20px 20px 20px; font-size:14px; }
.dialog-alert .main .red { color:#F00; }
.dialog-alert .foot { height:34px; text-align:center; border-top:1px solid #fff; padding:10px 0 20px; }
.dialog-alert .foot a { display:inline-block; vertical-align:middle; height:34px; line-height:34px; padding:0 25px; background:#ddd; margin:0 10px; font-size:14px; border-radius:3px;}
.dialog-alert .foot .ok { background:#d93636; color:#fff; }
.dialog-alert .foot .ok:hover { background:#a40606; }
.dialog-alert .foot .cancel { background:#bbb; color:#333; }
.dialog-alert .foot .cancel:hover { background:#999; }

.dialog-confirm { width:440px; height:auto; position:fixed; left:50%; top:50%; margin:-150px 0 0 -220px; z-index:100; background:#FFF; background:-webkit-linear-gradient(top, #f1f1f1 0%, #FFF 10%, #FFF 100%); display:none; }
.dialog-confirm .head { height:40px; line-height:40px; position:relative; margin-bottom:10px; }
.dialog-confirm .head h2 { font-size:16px; padding:0 0 0 15px; }
.dialog-confirm .head .close { width:40px; height:40px; background:url(../images/ico-close.png) center center no-repeat; position:absolute; right:0; top:0; }
.dialog-confirm .head .close:hover { -webkit-transform:rotate(90deg); transform:rotate(90deg); }
.dialog-confirm .main { padding:0 20px 20px 20px; font-size:14px; }
.dialog-confirm .main .red { color:#F00; }
.dialog-confirm .foot { height:34px; text-align:center; border-top:1px solid #fff; padding:10px 0 20px; }
.dialog-confirm .foot a { display:inline-block; vertical-align:middle; height:34px; line-height:34px; padding:0 25px; background:#ddd; margin:0 10px; font-size:14px; border-radius:3px;}
.dialog-confirm .foot .ok { background:#d93636; color:#fff; }
.dialog-confirm .foot .ok:hover { background:#a40606; }
.dialog-confirm .foot .cancel { background:#bbb; color:#333; }
.dialog-confirm .foot .cancel:hover { background:#999; }

.dialog-log { position:absolute; z-index:99; width:auto; padding:10px 20px; border:1px solid #e0272c; background:#ffe8e9; border-radius:3px; box-shadow:1px 1px 5px rgba(0,0,0,0.2); color:#e0272c; }
.dialog-log i { position:absolute; left:15px; top:-7px; width:14px; height:7px; background:url(../images/log-arrow.png) center center no-repeat; }

.dialog-layout { position:fixed; left:0; top:0; width:100%; height:100%; filter:Alpha(opacity=50); background:#000; background:rgba(0,0,0,.5); z-index:99; }

.dialog-album { position:fixed; _position:absolute; width:100%; height:100%; left:0; top:0; z-index:100; display:none; }
.dialog-album .layout { position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.9) !important; filter:Alpha(opacity=90); background:#000; z-index:-1; }
.dialog-album .container { position:absolute; left:0; top:0; width:100%; height:100%; z-index:2; overflow:hidden; }
.dialog-album .container ul { float:left; width:1000%; height:100%; position:relative; }
.dialog-album .container li { float:left; width:10%; height:100%; position:relative; }
.dialog-album .container .img { width:100%; height:100%;  }
.dialog-album .container .img img { max-height:100%; max-width:80%; width:800px; height:600px; }
.dialog-album .tool .close { position:absolute; width:65px; height:35px; top:0; right:0; background:url(../images/ico-album.png) 0 -105px no-repeat; z-index:10; overflow:hidden; text-indent:-99em; opacity:0.6 !important; filter:Alpha(opacity=60); }
.dialog-album .tool .close:hover { opacity:0.9 !important; filter:Alpha(opacity=90); }
.dialog-album .tool .right, .dialog-album .tool .left { position:absolute; width:30px; height:30px; top:50%; margin-top:-10px; z-index:10; text-indent:-99em; overflow:hidden; background:url(../images/ico-album.png) -35px 0 no-repeat; }
.dialog-album .tool .right { left:20px; background-position:-35px -35px; }
.dialog-album .tool .left { right:20px; }
.dialog-album .tool .right:hover { background-position:0 -35px; }
.dialog-album .tool .left:hover { background-position:0 0; }
.dialog-album .tool .play, .dialog-album .tool .plus { position:absolute; width:30px; height:30px; right:20px; bottom:20px; background:#CCC; z-index:10; overflow:hidden; background:url(../images/ico-album.png) 0 -70px no-repeat; overflow:hidden; text-indent:-99em; }
.dialog-album .tool .play { background-position:-35px -70px; }
.dialog-album .tip { position:absolute; width:50%; height:15px; left:25%; bottom:20px; z-index:10; text-align:center; }
.dialog-album .tip span { display:inline-block; width:12px; height:12px; border:1px solid #aaa; border-radius:13px; background:#FFF; margin:0 5px; vertical-align:middle; cursor:pointer; }
.dialog-album .tip span.cur { background:#666; }



/******************************
 ** 高级动画
 ******************************/



/******************************
 ** 自定义字体
 ******************************/
@font-face{
	font-family: "avgr65w";
	src: url("../font/avgr65w.eot");
	src: url("../font/avgr65w.eot?#iefix") format("eot"),
		 url("../font/avgr65w.ttf") format("truetype");
}



/******************************
 ** 兼容性
 ******************************/
body { _background:url(../images/ie6.png) center center no-repeat #fff; }
body > * { _display:none; }