<div class="pglist">
    <li><a href="#(pattern)1">首页</a></li>
    #if(hasPrevious)
    <li><a href="#(pattern)#(previousPageNumber)">上一页</a></li>
    #end
    #for(segmentPageNumber : segment)
    #if(segmentPageNumber != pageNumber)
    <li><a href="#(pattern)#(segmentPageNumber)">#(segmentPageNumber)</a></li>
    #else
    <li><a href="javascript:;" class="hover">#(segmentPageNumber)</a></li>
    #end
    #end
    #if(hasNext)
    <li><a  href="#(pattern)#(nextPageNumber)">下一页</a></li>
    #end
    <li><a href="#(pattern)#(totalPages)">尾页</a></li>
</div>