<!-- common start -->
#include("common.html")
<!-- common end -->
<html style="font-size: 56.25px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <title>产品中心_我的网站</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="#(tpath)/static/css/style.css" rel="stylesheet">
    <link href="#(tpath)/static/css/common.css" rel="stylesheet">
    <script src="#(tpath)/static/js/autofontsize.min.js"></script>
    <script src="#(tpath)/static/js/jquery.js"></script>
    <script src="#(tpath)/static/js/clipboard.min.js"></script>
    <script src="#(tpath)/static/js/common.js"></script>
</head>
<body>
<!-- header start -->
#include("header.html")
<!-- header end-->
<!--位置开始-->
<section class="cateList"> <span class="goBack iconbef" id="goBack"></span>
    <h3>网箱<s class="iconn" style="display: inline;"></s></h3>
    <!--栏目分类开始-->
    <div class="box">
        #category_children_list(categoryId=1101)
        #for(category : categorys)
        <a href="#(category.path)" title="#(category.name)">#(category.name)</a>
        #end
        #end
    </div>
    <!--栏目分类结束-->
</section>

<!--位置结束-->
<!--图片内容开始-->
<section class="content showInfo">
    <div class="showTit">
        <h1>#(currentContent.title)</h1>
        <p class="mark">发布日期：#date(currentContent.publishDate,'yyyy-MM-dd HH:mm')　浏览次数：<i id="hits"><script src="#(currentSite.url)/content/visits?id=#(currentContent.id)"></script></i></p>
    </div>
    <div class="contxt">
        <!--组图开始-->
        <div class="banner" id="banner" style="opacity: 1;">
            <ul class="list" style="width: 1352px;">
                #for(pic : currentContent.pics)
                #if(pic??)
                <li class="item" style="width: 338px;"><a href="javascript:;"><img src="#(pic)" alt="" style="width: 338px;"></a></li>
                #end
                #end
            </ul>
            <div class="tip"><span class="cur icon"></span><span class="icon"></span><span class="icon"></span></div>
        </div>
        <!--组图结束-->
        <p>#(currentContent.introduction)</p>
    </div>
    <div class="clearfix"></div>
    <div class="reLink clearfix">
        <div class="prevLink fl">上一篇：#if(currentContent.lastContent??)<a href="#(currentContent.lastContent.path)">#(abbreviate(currentContent.lastContent.title,15,''))</a>#else无#end</div>
        <div class="nextLink fl">下一篇：#if(currentContent.nextContent??)<a href="#(currentContent.nextContent.path)">#(abbreviate(currentContent.nextContent.title,15,''))</a>#else无#end </div>
    </div>
</section>
<!--图片内容结束-->
<div id="returntop" class="icon hidden"></div>
<!-- footer start -->
#include("footer.html")
<!-- footer end -->
</body>
</html>