<!-- header start -->
#include("header.html")
<!-- header end -->
<div class="banner" id="banner">
        	<ul class="list">
            #slide_list(count=3,gid=1)
		#for(slide : slides)
            <li style="background:url(#(slide.image)) no-repeat top center"></li>
             #end
		#end
            </ul>
</div>

<div class="kswrap">
<div class="kn clearfix">
	<div class="list fl">
      
    	<span>新闻动态：</span>
        <div class="box">
        	<ul id="newscroll">
              #content_list(count=5,categoryId=704)
     		  #for(content : contents) 
            	<li><a href="#(content.path)" target="_blank">#(abbreviate(content.title,30,''))</a></li>
              #end
              #end 
            </ul>
        </div>
            </div>
    <div class="search fr">
	<form action="#(currentSite.url)/search"  method="get">
    <input type="text" id="SearchTxt" name="keyword" />
	<button type="submit" id="Searchs"></button>
	</form>
    </div>
</div>
</div>

<div class="main">
	<div class="pro clearfix">
      
    	<div class="prolist fl">
        	<div class="title">
            	<h3>产品展示</h3>
            </div>
            <div class="sidenav" id="sidenav">
            	<ul class="clearfix">
            	#category_children_list(count=10,categoryId=700)
	        	#for(category : categorys)
                    <li><a href="#(category.path)">#(category.name)</a></li>
                   #end
			#end
                   
                                    </ul>
            </div>
            <div class="func">
            	<div class="tel">
                	咨询热线<br/>
                    <span class="format4002">#(currentCompany.phone)</span>
                </div>
#category(id=705)<a class='button' href='#(category.path)'>在线预购</a>#end
#category(id=708)<a class='button' href='#(category.path)'>联系我们</a>#end
            </div>
        </div>
        
        <div class="proshow fr">
        	<div class="title1">
            	<h3>产品展示</h3>
                <h6>PRODUCT</h6>
            </div>
            <ul id="changebig" >
            #content_list(count=9,categoryId=700)
     		  #for(content : contents) 
            	<li>
                	<a class="img" href="#(content.path)" title="#(content.title)"><img src="#(content.ico)" title="#(content.title)"/></a>
                    <div class="topic">
                    	<a href="#(content.path)" title="#(content.title)"><span>#(abbreviate(content.title,12,''))</span></a>
                        <a class="more" href="#(content.path)"></a>
                    </div>
                </li>
              #end
              #end 
            	
                           </ul>
        </div>
            </div>
    
    <div class="mintel-wrap">
    	<div class="mintel">
        	<img src="#(tpath)/static/images/triangle.png"/>
        	<div class="tel">
            	服务电话：
               <span class="format4002">#(currentCompany.phone)</span>
            </div>
            <div class="func">
            	<h6>至精至诚，创优创新——专业提供制药机械设备</h6>
				#category(id=705)<a class='button' href='#(category.path)'>在线预购</a>#end
				#category(id=708)<a class='button' href='#(category.path)'>联系我们</a>#end
            </div>
        </div>
    </div>
    <div class="case-wrap">
    	<div class="case">
          
        	<div class="title1">
            	<h3>厂房展示</h3>
                <h6>workshop</h6>
            </div>
            <div class="scroll" id="scroll">
            	<ul>
            	#content_list(count=6,categoryId=707)
     		    #for(content : contents) 
     		    #if(for.index%2==0)
					  <li>
                        <a class="img" href="#(content.path)"  title="#(abbreviate(content.title,18,''))"><img src="#(content.ico)" alt="#(abbreviate(content.title,18,''))"/></a>
                    	<div class="topic">
                        	<h6>workshop</h6>
                            <h4><a href="#(content.path)"  title="#(abbreviate(content.title,18,''))">#(abbreviate(content.title,18,''))</a></h4>
                            <a class="more"  href="#(content.path)"></a>
                        </div>
                    </li>
					#else
					 <li>
                    	<div class="topic">
                        	<h6>workshop</h6>
                            <h4><a href="#(content.path)"  title="#(abbreviate(content.title,18,''))">#(abbreviate(content.title,18,''))</a></h4>
                            <a class="more"  href="#(content.path)"></a>
                        </div>
                        <a class="img" href="#(content.path)"  title="#(abbreviate(content.title,18,''))"><img src="#(content.ico)" alt="#(abbreviate(content.title,18,''))"/></a>
                    </li>
					
					#end
                  #end
                  #end                      

                                                        </ul>
            </div>
            <div class="tip" id="control">
            	<a class="btn-l" id="left"></a>
                <a class="btn-r" id="right"></a>
            </div>
                    </div>
    </div>
    
    
        
        <div class="about">
          
        	<div class="img fl">
        		#content(id=702)
<img src="#(content.ico)" />
#end
            </div>
            <div class="cont fr">
            	<div class="title2">
                	<div class="tt">
                    	<h3>公司简介</h3>
                        <h6>ABOUT <span>US</span></h6>
                    </div>
                </div>
                <p>
                    　　#content(id=702)
#(abbreviate(content.text,188,''))
#end...
                                  </p>
                #category(id=706)<a class="more" href="#(category.path)" title="查看详细">查看详细>></a>#end
            </div>
                    </div>
    
    <div class="news clearfix">
      
    	<div class="title1">
            <h3>新闻动态</h3>
            <h6>NEWS</h6>
        </div>
        <div class="scroll fl">
        	<div class="box" id="news">
            	<ul>
            		#content_list(count=3,categoryId=704)
     		    #for(content : contents) 
                	<li><a href="#(content.path)" title="#(content.title)"><img src="#(content.ico)" alt="#(content.title)"/></a></li>
                  #end
                  #end
                	
                                    </ul>
            </div>
            <div class="tip" id="tip">
            </div>
            <a class="btn-l" id="btn-l"></a>
            <a class="btn-r" id="btn-r"></a>
        </div>
        <ul class="newslist fr" id="newsright">
          #content_list(count=3,categoryId=704)
     		    #for(content : contents) 
        	<li>
            	<img src="#(content.ico)" alt="#(content.title)"/>
                <div class="cont">
                	<h5><a href="#(content.path)" title="#(content.title)">#(abbreviate(content.title,13,''))</a></h5>
                    <p>#(abbreviate(content.text,35,''))</p>
                </div>
            </li>
          #end
                  #end
        	
                    </ul>
            </div>
</div>
<!-- footer start -->
#include("footer.html")
<!-- footer end -->
