<div class="prolist fl">
	#if(currentCategory??)
        	<div class="title">
            	<h3>#(currentCategory.name)</h3>
				<!-- <h3>网站导航</h3>  -->
            </div>
            <div class="sidenav" id="sidenav">
            	<ul class="clearfix">
                	#category_children_list(count=10,categoryId=currentCategory.id)
	      			#for(category : categorys)
                          <li #if(currentCategory?? && (category.id==currentCategory.id || currentCategory.treePath.contains(','+category.id+','))) class="cur" #end>
                            <a href="#(category.path)" class="nav2" title="#(category.name)">#(category.name)</a>
                          </li>
                   #end
          			#end
                </ul>
            </div>
            #end
            <div class="func">
            	<div class="tel">
                	全国咨询热线<br/>
                    <span class="format4002">#(currentCompany.phone)</span>
                </div>
                #category(id=705)<a class='button' href='#(category.path)'>在线预购</a>#end
				#category(id=708)<a class='button' href='#(category.path)'>联系我们</a>#end
            </div>
        </div>