<!-- header start -->
#include("header.html")
<!-- header end -->
<div class="minbanner" id="banner">
        	<ul class="list">
            #slide_list(count=3,gid=2)
			#for(slide : slides)
                <li><img src="#(slide.image)" border="0" /></li>
            #end
			#end 
            </ul>
</div>
<div class="kswrap">
<div class="kn clearfix">
	<div class="list fl">
      
    	<span>新闻动态：</span>
        <div class="box">
        	<ul id="newscroll">
              #content_list(count=5,categoryId=16)
     		  #for(content : contents) 
            	<li><a href="#(content.path)" target="_blank">#(abbreviate(content.title,30,''))</a></li>
              #end
              #end 
            </ul>
        </div>
            </div>
    <div class="search fr">
	<form action="#(currentSite.url)/search"  method="get">
    <input type="text" id="SearchTxt" name="keyword" />
	<button type="submit" id="Searchs"></button>
	</form>
    </div>
</div>
</div>
<div class="page clearfix">
		<!-- left start -->
	#include("left.html")
	<!-- left end -->
 		 <div class="right fr">
         <div class="wrap">
         		#content_page(categoryId = 104,keyword = keyword,pageNumber = pageNumber,pageSize = 10)
           		<ul class="listNews" id="listNews">
                      #for(content : contentPage.list)
                        <li class="item"><span>#date(content.publishDate,'yyyy-MM-dd')</span><a href="#(content.path)" title="#(content.title)" style="border-left-width: 0px;">#(abbreviate(content.title,38,''))</a></li>
                       #end
                                                    <div class="clear"></div>
                        </ul>
                       <!-- page start -->
	 	#page(pageNumber = contentPage.pageNumber,totalPages = contentPage.totalPage,pattern = currentSite.url+"/search?keyword="+keyword+"&pageNumber=")
	       #include("page.html")
	    #end
	    <!-- page end -->
	    #end 
           </div>
		</div>
</div>
<!-- footer start -->
#include("footer.html")
<!-- footer end -->
