  <div class="subleft fl">
  	#if(currentCategory??)
  	<div class="sidebar">
      <div class="topclass">
       <h2>#(currentCategory.name)</h2>
        <span>#(currentCategory.subname)</span><!-- <h2>网站导航</h2><span>Site navigation</span> -->
      </div>
      #if(currentCategory.children?? && currentCategory.children.size()>0)
      <dl class="side-menu" id="menu">
         #category_children_list(count=10,categoryId=currentCategory.id)
	     #for(category : categorys)
		 <dd #if(currentCategory?? && (category.id==currentCategory.id || currentCategory.treePath.contains(','+category.id+','))) class="current" #end>
          	 <a href="#(category.path)" #if(currentCategory?? && (category.id==currentCategory.id || currentCategory.treePath.contains(','+category.id+',')))class='hover'#end>#(category.name)</a>
          </dd>
		  #end
          #end
      </dl>
      #end
     
    </div>
    #end
      
  <!-- contact -->
  <div class="leftcontact" style="margin-top:20px;margin-bottom:20px;">
		
		<div class="titlex">
		<span>联系我们</span>
		<b>CONTACT US</b>
		</div>
		<div class="leftcontactcomt">
				
                  #(currentCompany.name)<br />
#(currentCompany.name)<br />
联系人：#(currentCompany.contact)<br />
#(currentCompany.mobile)<br />
ＱＱ：#(currentCompany.qq)<br />
地址：#(currentCompany.address)<br />
			    		</div>
			</div>
  
</div>

