<div class="footer clearfix" id="footer">  	
 	 <div class="copyright clearfix">
       <div class="w">
         <div class="fl">本站关键词：关键词1,关键词2,关键词3<br/>
           
          <a href="http://www.miitbeian.gov.cn" target="_blank">#(currentWeb.icp)</a> </div>
             <div class="fr">友情链接：
           #friend_link_list(count=3,gid=1)#for(friendLink : friendLinks)
			<a href="#(friendLink.url)" target="_blank">#(friendLink.name)</a>
			#end#end
              <br/>
            版权所有：#(currentCompany.name)  电话：#(currentCompany.mobile)<br/> 
地址：#(currentCompany.address)</div>
         </div>
     </div>
  	</div>
        <div class="clear"></div>

<dl class="toolbar" id="toolbar">

	<dd>
        <a class="slide qq slide-qq" href="tencent://message/?uin=#(currentCompany.qq)&Menu=yes">在线QQ</a>
    </dd>
    <dd>
    	<i class="tell"></i>
        <ul class="pop pop-tel">
        	<li class="o"></li>
            <li class="icon">咨询热线</li>
            <li class="item" ig-phone>#(currentCompany.mobile)</li>
        </ul>
    </dd> 
    <dd>
    	<i class="code"></i>
        <ul class="pop pop-code">
        	<li class="o"></li>
            <li>
            	<img src="#(currentCompany.weixin)" />
                <h3>手机二维码</h3>
            </li>
        </ul>
    </dd>
    <dd>
    	<i id="goTop" class="top"></i>
    </dd>

</dl>
<script src="#(tpath)/static/js/jquery.plugs.pc.js"></script>
<script src="#(tpath)/static/js/app.js"></script>
</body>
</html>