<nav class="navbar navbar-default met-nav " role="navigation"> 
   <div class="container"> 
    <div class="row"> 
     <div class="navbar-header"> 
      <button type="button" class="navbar-toggle hamburger collapsed" data-target="#example-navbar-default-collapse" data-toggle="collapse"> <span class="sr-only">Toggle navigation</span> <span class="hamburger-bar"></span> </button> 
      <a href="" class="navbar-brand navbar-logo vertical-align" title="我的网站"> 
       <div class="vertical-align-middle">
        <img src="#(tpath)/static/images/1468986284.png" alt="我的网站" title="我的网站">
       </div> </a> 
     </div> 
     <div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-default-collapse"> 
      <ul class="nav navbar-nav navbar-right navlist"> 
       <li><a href="" title="网站首页" class="link active">网站首页</a></li> 
       <li class="dropdown margin-left-20"> <a class="dropdown-toggle link " data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" role="button" href="index1.html" title="关于我们">关于我们 <i class="fa fa-angle-down small"></i></a> 
        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu"> 
         <li><a href="index2.html" title="公司概况">公司概况</a></li> 
         <li><a href="index3.html" title="企业文化">企业文化</a></li> 
         <li><a href="index4.html" title="在线反馈">在线反馈</a></li> 
        </ul> </li>
       <li class="dropdown margin-left-20"> <a class="dropdown-toggle link " data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" role="button" href="index5.html" title="新闻中心">新闻中心 <i class="fa fa-angle-down small"></i></a> 
        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu"> 
         <li><a href="index6.html" title="优化推广">优化推广</a></li> 
         <li><a href="index7.html" title="公司动态">公司动态</a></li> 
         <li><a href="index8.html" title="建站经验">建站经验</a></li> 
        </ul> </li>
       <li class="dropdown margin-left-20"> <a class="dropdown-toggle link " data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" role="button" href="index9.html" title="产品展示">产品展示 <i class="fa fa-angle-down small"></i></a> 
        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu"> 
         <li><a href="index10.html" title="营销型网站">营销型网站</a></li> 
         <li><a href="index11.html" title="响应式网站">响应式网站</a></li> 
         <li><a href="index12.html" title="电子商务型网站">电子商务型网站</a></li> 
         <li><a href="index13.html" title="外贸型网站">外贸型网站</a></li> 
         <li><a href="index14.html" title="企业型网站">企业型网站</a></li> 
        </ul> </li>
       <li class="margin-left-20"> <a class="link " href="index15.html" title="顾客案例">顾客案例</a> </li>
       <li class="margin-left-20"> <a class="link " href="index16.html" title="联系我们">联系我们</a> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
  </nav> 