<!-- common start -->
#include("common.html")
<!-- common end -->
<!DOCTYPE html>
<html>
 <head lang="en"> 
  <meta charset="UTF-8"> 
  <title>德育视窗-详情</title> 
  <meta name="keywords" content="德育视窗-详情"> 
  <meta name="description" content="德育视窗-详情"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="format-detection" content="telephone=no"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="Cache-Control" content="no-siteapp"> 
  <link rel="stylesheet" href="#(tpath)/static/css/amazeui.css"> 
  <link rel="stylesheet" href="#(tpath)/static/css/main.css"> 
 </head> 
 <body> 
  <!--[if (gte IE 9)|!(IE)]><!--> 
  <script src="#(tpath)/static/js/jquery.min.js"></script> 
  <!--<![endif]--> 
  
 <!-- header start -->
 #include("header.html")
 <!-- header end -->
  
  <div class="list-main"> 
   <div class="am-container"> 
    <div class="list-nav" data-am-sticky=""> 
     <ul class="am-cf"> 
      #category_children_list(categoryId=currentCategory.parentId)
      #for(category : categorys)
      <li #if(category.id==currentCategory.id)class="list-active"#end><a href="#(category.path)">#(category.name)</a></li>
      #end
      #end
     </ul> 
     <div class="curBg"></div> 
     <div class="cls"></div> 
    </div> 
    <div>
     <img src="#(tpath)/static/images/banner.png" class="am-img-responsive" alt="">
    </div> 
    <div class="list-pag">
      当前位置：
     <a href="#(currentSite.url)/">主页</a> &gt; 
     <a href="#(currentCategory.parent.path)">#(currentCategory.parent.name)</a> &gt; 
     <a href="#(currentCategory.path)">#(currentCategory.name)</a> &gt; 
    </div> 
    <div class="list-center"> 
     <div class="show-con"> 
      <div class="show-con-top"> 
       <span> <h1>学生心理问题的发现与早期介入</h1> </span> 
       <p>浏览：166　日期：2017-08-30</p> 
      </div> 
      <div class="show-con-nr"> 
       <div style="text-align: center;">
         &nbsp;
       </div> 
       <br> 
       <div>
         &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;为贯彻王校长“特色立校，德育为先”的办学思想，践行学校“人文开放，和谐发展，构建学习型班主任队伍”的德育理念，加强班主任队伍的专业化建设，成都市实验外国语学校于2017年4月26日开展“班主任论坛”活动。本次论坛邀请了拥有丰富带班经验的杨震国老师为班主任做有关“学生心理问题的发现与早期介入”的分享。
        <br> &nbsp;
       </div> 
       <div>
         &nbsp; &nbsp; &nbsp; &nbsp; 学生心理的健康发展一直是班主任关注的重点，本次论坛杨震国老师从学生心理问题产生原因，学生产生心理问题时的表现以及学生心理问题的早期介入这三个方面和班主任们做了分享。精彩的发言，切合实际的方法，杨老师在论坛上分享满满的干货，引起了广泛共鸣，赢得了所有年级主任、班主任的一致好评。
        <br> &nbsp;
       </div> 
       <div style="text-align: center;"> 
        <img alt="" src="#(tpath)/static/images/1-1FS010520E34.jpg" style="width: 600px; height: 375px;">
        <br> &nbsp;
       </div> 
       <div>
         &nbsp; &nbsp; &nbsp; &nbsp; 谈及学生心理问题产生的原因，杨老师从学生个人、家庭、群体以及阶段性因素进行了分析。学生的学习、人际关系、性格、对自身的要求、缺乏家庭的关爱等都会让学生感受到压力，从而造成心理问题。其中家庭因素占首要位置，家长对孩子的期待，对孩子的教育方式、对孩子的关心程度等都会影响孩子心理健康的发展，杨老师主张班主任多与家长沟通，帮助家长理解“家不是说理的地方，而是孩子爱的港湾”。
        <br> &nbsp;
       </div> 
       <div>
         &nbsp; &nbsp; &nbsp; &nbsp; 学生一旦出现心理问题就会有一系列的表现形式，轻度的少语、独处等；中度的考前综合症，睡眠困难等；重度的厌学、妄想症等都在提示着学生的心理出现了问题，及时的关注到这些表现形式也有利于学生心理问题的减轻和解决。
        <br> &nbsp;
       </div> 
       <div>
         &nbsp; &nbsp; &nbsp; &nbsp; 最后，杨老师就学生心理问题的早期介入提供了一些切实可行的方法。做好预防工作，鼓励学生正确的面对压力与挫折，在平时就做好学生的心理辅导，增强学生应对挫折的能力；以真诚的态度对学生及时开导，做好考后谈心工作，给学生以心理的抚慰，促进学生正视成绩；为学生提供一些认识问题的角度和解决办法，帮助学生解决学习、生活中的困难，如：针对考前焦虑，邀请学生列举自己面临的问题，并制定计划逐一解决，即使考前没解决完，考后依旧可以继续解决，帮助学生正视困难。
        <br> &nbsp;
       </div> 
       <div>
         &nbsp; &nbsp; &nbsp; &nbsp; 除此之外，还可以寻求一些帮助。在家庭方面，多与家长沟通聊天，家长在教导孩子的过程中也会遇到很多问题，班主任多与家长沟通，不仅能够更好的了解学生的情况，同时也可以分享教育经验，缓解学生的压力，促进正能量在家庭中的传递；其次，促进同辈互助，构建互助友爱的班级氛围。邀请班上同学分享学习方法，关爱班级中一些交流困难的学生，既有利于班级氛围的构建，让学生感受到集体的关爱，也能够培养学生的责任意识。除了家庭及同学的帮助，心理咨询师也能够很好的帮助到学生，班主任要帮助同学树立正确的对于心理咨询的认识，让学生了解寻求心理咨询师的帮助是非常正常的。
        <br> &nbsp;
       </div> 
       <div>
         &nbsp; &nbsp; &nbsp; &nbsp; 杨老师的分享从多个角度让我们对学生的心理有了更深的了解，也学习到了很多学生心理问题早期介入的方法。促进学生身心的健康发展也是实外一直奋斗的目标，相信通过不断地学习，实外的班主任队伍也会建设得越来越好！
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 <!-- footer start -->
 #include("footer.html")
 <!-- footer end -->
  <!--[if lt IE 9]>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/modernizr.js"></script>
<script src="static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]--> 
  <script src="#(tpath)/static/js/amazeui.js"></script> 
  <script src="#(tpath)/static/js/jquery.SuperSlide.2.1.1.js"></script> 
  <script src="#(tpath)/static/js/main.js"></script>  
 </body>
</html>