<footer class="footer"> 
   <div class="am-container"> 
    <div class="am-g"> 
     <div class="am-u-sm-12 am-u-md-7 am-u-lg-8"> 
      <ul class="fo-nav am-cf"> 
      #category_root_list()
        #for(category : categorys)
       <li><a href="#(category.path)" rel="nofollow">#(category.name)</a></li> 
       #end
        #end
      </ul> 
      <div class="fo-bq">
        服务电话：
       <a href="tel:4008-888-888" rel="nofollow">4008-888-888</a>　地址：
       <br> Copyright © 2018 我的网站 版权所有　备案号:渝ICP备00000000
      </div> 
     </div> 
     <div class="am-u-md-5 am-u-lg-4 am-cf"> 
      <div class="fo-ewm"> 
       <img src="#(tpath)/static/images/ma.jpg" width="95" height="95" alt=""> 
       <p>官方微信</p> 
      </div> 
      <div class="fo-lx am-cf"> 
       <p class="am-cf"><a href="javascript:void(0)" rel="nofollow">联系我们</a></p> 
       <div class="fo-but">
        <a href="javascript:;" target="_blank" rel="nofollow"><span class="bounce-top"><img src="#(tpath)/static/images/weib.png" alt=""></span>微博</a>
       </div> 
       <div class="fo-but">
        <a href="javascript:;" target="_blank" rel="nofollow"><span><img src="#(tpath)/static/images/qq.png" alt=""></span>客服</a>
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="am-g"> 
     <div class="am-u-sm-12 w-link">
       友情链接： 
     </div> 
    </div> 
   </div> 
  </footer> 