<!-- common start -->
#include("common.html")
<!-- common end -->
<!DOCTYPE html>
<html>
 <head lang="en"> 
  <meta charset="UTF-8"> 
  <title>国际交流-列表</title> 
  <meta name="keywords" content="国际交流-列表"> 
  <meta name="description" content="国际交流-列表"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="format-detection" content="telephone=no"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="Cache-Control" content="no-siteapp"> 
  <link rel="stylesheet" href="#(tpath)/static/css/amazeui.css"> 
  <link rel="stylesheet" href="#(tpath)/static/css/main.css"> 
 </head> 
 <body> 
  <!--[if (gte IE 9)|!(IE)]><!--> 
  <script src="#(tpath)/static/js/jquery.min.js"></script> 
  <!--<![endif]--> 
  <!-- header start -->
 #include("header.html")
 <!-- header end -->
  <div class="list-main"> 
   <div class="am-container"> 
    <div class="list-nav" data-am-sticky=""> 
     <ul class="am-cf"> 
      #category_children_list(categoryId=currentCategory.parentId)
      #for(category : categorys)
      <li #if(category.id==currentCategory.id)class="list-active"#end><a href="#(category.path)">#(category.name)</a></li>
      #end
      #end
     </ul> 
     <div class="curBg"></div> 
     <div class="cls"></div> 
    </div> 
    <div>
     <img src="#(tpath)/static/images/banner.png" class="am-img-responsive" alt="">
    </div> 
    <div class="list-pag">
      当前位置：
     <a href="#(currentSite.url)/">主页</a> &gt; 
     <a href="#(currentCategory.path)">#(currentCategory.name)</a> &gt; 
    </div> 
    <div class="list-center"> 
     #content_page(categoryId = currentCategory.id,pageNumber = pageNumber,pageSize = 9)
     <div class="list-imglb3"> 
      <ul class="am-avg-sm-1 am-avg-md-2 am-thumbnails" id="more2"> 
      	#for(content : contentPage.list)
       <li class="json-content" id="more_element_4"><a href="#(content.path)"><img class="am-thumbnail hvr-bob" src="#(content.ico)"> <h3 class="am-text-truncate">#(content.title)</h3> <p>#(abbreviate(content.text,41,"..."))</p> </a></li> 
      	#end
      </ul> 
     </div> 
     <div class="pagination-wrapper"> 
      #page(pageNumber = contentPage.pageNumber,totalPages = contentPage.totalPage,pattern = currentCategory.path+"?pageNumber=")
        #include("page.html")
     #end
     </div> 
     #end
    </div> 
   </div> 
  </div> 
  <!-- footer start -->
 #include("footer.html")
 <!-- footer end -->
  <!--[if lt IE 9]>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/modernizr.js"></script>
<script src="static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]--> 
  <script src="#(tpath)/static/js/amazeui.js"></script> 
  <script src="#(tpath)/static/js/jquery.SuperSlide.2.1.1.js"></script> 
  <script src="#(tpath)/static/js/main.js"></script>   
 </body>
</html>