<header class="am-topbar"> 
   <div class="am-container"> 
    <h1 class="am-topbar-brand"> <a href="#(currentSite.url)/"> <img src="#(tpath)/static/images/logo.png" width="396" height="76" alt="我的网站"> </a> </h1> 
    <a class="am-topbar-btn am-topbar-toggle am-show-sm-only mopen doc-oc-js" href="javascript: void(0)" data-rel="open"><span class="am-sr-only">导航切换</span> <img src="#(tpath)/static/images/mopen.png"> </a> 
    <div class="am-topbar-right"> 
     <div class="wtop-r"> 
      <div class="top-time">
       <span id="time"></span>
      </div> 
      <div class="am-dropdown am-fl" data-am-dropdown=""> 
       <a href="#" rel="nofollow" class="top-tel hvr-bob am-dropdown-toggle"></a> 
       <div class="am-dropdown-content"> 
        <p style="margin:0"> 联系电话:<br> <span style="font-size:24px; color:#515151;font-family:Arial;white-space:nowrap;"> 4008-888-888</span> </p> 
       </div> 
      </div> 
      <div class="am-dropdown am-fl" data-am-dropdown=""> 
       <a href="#" rel="nofollow" class="top-weix hvr-bob am-dropdown-toggle"></a> 
       <div class="am-dropdown-content"> 
        <p style="text-align:center;margin:0"> <img src="#(tpath)/static/images/ma.jpg" width="128" height="128" alt="微信公众号"> </p> 
       </div> 
      </div> 
      <a href="javascript:;" rel="nofollow" target="_blank" class="top-weib hvr-bob"></a> 
     </div> 
    </div> 
   </div> 
   <div class="w-nav"> 
    <div class="am-container"> 
     <div class="am-menu  am-menu-offcanvas1" data-am-widget="menu"> 
      <div id="my-offcanvas" class="am-offcanvas"> 
       <div class="am-offcanvas-bar am-offcanvas-bar-flip"> 
        <ul class="am-menu-nav sm-block-grid-1"> 
         <li class="wnav-home"><a href="#(currentSite.url)/">首页</a> <button class="mclose doc-oc-js" data-rel="close"><img src="#(tpath)/static/images/mclose.png"></button> </li> 
         #category_root_list()
         #for(category : categorys)
         <li class="am-parent"> <a href="#(category.path)">#(category.name)</a> 
          <ul class="am-menu-sub am-collapse  am-avg-sm-3"> 
          	#category_children_list(categoryId=category.id)
            #for(categoryItem : categorys)
           <li> <a href="#(categoryItem.path)">#(categoryItem.name)</a> </li> 
           #end
           #end
          </ul> </li>
         #end
         #end
        </ul> 
       </div> 
      </div> 
     </div> 
     <div class="am-collapse am-topbar-collapse w-bnav"> 
      <ul class="am-nav am-nav-pills am-nav-justify"> 
       <li><a href="#(currentSite.url)/">首页</a></li> 
        #category_root_list()
        #for(category : categorys)
       <li class="#if(currentCategory?? && currentCategory.id==category.id) am-active #end"><a href="#(category.path)">#(category.name)</a> 
        <ul class="w-tcnav"> 
        #category_children_list(categoryId=category.id)
        #for(categoryItem : categorys)
         <li><a href="#(categoryItem.path)">#(categoryItem.name)</a></li> 
        #end
        #end
        </ul> </li>
        #end
        #end
      </ul> 
     </div> 
    </div> 
   </div> 
  </header> 