<!-- common start -->
#include("common.html")
<!-- common end -->
<!DOCTYPE html>
<html>
 <head lang="en"> 
  <meta charset="UTF-8"> 
  <title>首页</title> 
  <meta name="description" content="首页"> 
  <meta name="keywords" content="首页"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="format-detection" content="telephone=no"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="Cache-Control" content="no-siteapp"> 
  <link rel="stylesheet" href="#(tpath)/static/css/amazeui.css"> 
  <link rel="stylesheet" href="#(tpath)/static/css/main.css"> 
  <!--[if (gte IE 9)|!(IE)]><!--> 
  <script src="#(tpath)/static/js/jquery.min.js"></script> 
  <!--<![endif]--> 
 </head> 
 <body> 
   <!-- header start -->
 #include("header.html")
 <!-- header end -->
  <div data-am-widget="slider" class="am-slider am-slider-a1 w-sli" data-am-slider="false"> 
   <ul class="am-slides"> 
   	#slide_list(gid=1)
   	#for(slide : slides)
    <li> 
     <div class="centered">
      <a href="#(slide.url)"><img src="#(slide.image)" alt="#(slide.title)"></a>
     </div> </li> 
    #end
    #end 
   </ul> 
  </div> 
  <div class="site-news"> 
   <div class="am-container"> 
    <div class="am-g am-g-collapse"> 
     <div class="am-u-sm-12 am-u-md-5 x-mess x-title" data-am-scrollspy="{animation: 'slide-left',delay: 300,repeat: false}"> 
      <h2> Headmaster’s Message </h2>
      <h4>校长寄语</h4> 
      <div class="x-mess-nr am-cf" style="min-height:370px;"> 
       <img src="#(tpath)/static/images/about.jpg" alt="" title=""> 
       <div class="x-mess-nrtxt">
         &nbsp; &nbsp; &nbsp; &nbsp; 某某理工大学前身是某某军区军工部工业专门学校，创建于1958年。1970年组建成立某某工业学院，2006年经教育部批准更名为某某理工大学。2010年某某省人民政府与中国兵器装备集团、中国兵器工业集团签署了共建某某理工大学协议... 
        #category(id="801")<a href="#(category.path)">+more</a>#end
       </div> 
      </div> 
     </div> 
     <div class="am-u-sm-12 am-u-md-7 x-news x-title" data-am-scrollspy="{animation: 'slide-right', delay: 300,repeat: false}"> 
      <h2> Campus News </h2>
      <h4>学校资讯</h4> 
      <div class="x-news-list" style="padding-top:0px;"> 
       <ul style="padding:0px;"> 
        #content_list(categoryId=823,count=3)
        #for(content : contents)
        <li class="not" style="margin:4px 0"> <time>#date(content.publishDate,"yyyy-MM-dd")</time> <a href="#(content.path)">#(content.title)</a> <p style="margin:0px;"> #(abbreviate(content.text,51,"..."))</p> </li> 
        #end
        #end
       </ul> 
       <div class="txtScroll-top"> 
        <div class="bd"> 
         <ul class="infoList"> 
         #content_list(categoryId=823,count=5)
         #for(content : contents)
          <li class="am-text-truncate"> <time>#date(content.publishDate,"yyyy-MM-dd")</time> <a href="#(content.path)">#(content.title)</a> </li> 
         #end
         #end
         </ul> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="site-info"> 
   <div class="am-container info-pd"> 
    <div class="info-dib"> 
     <div class="info-top"> 
      <a href="index6.html"> 
       <div class="info-tit"> 
        <span class="am-text-truncate">Moral Education</span> 
        <h2>德育视窗</h2> 
       </div> </a> 
      #category(id="805")<a href="#(category.path)"><img src="#(tpath)/static/images/1-1FS010520E34-lp.jpg" alt="学生心理问题的发现与早期介入"> </a>#end 
     </div> 
     <ul class="info-list"> 
     #content_list(categoryId=805,count=3)
     #for(content : contents)
      <li class="am-text-truncate"><a href="#(content.path)">#(content.title)</a></li> 
      #end
      #end
     </ul> 
    </div> 
    <div class="info-dib info-mb"> 
     <div class="info-top"> 
      <a href="index10.html"> 
       <div class="info-tit"> 
        <span class="am-text-truncate">Moral Education</span> 
        <h2>教研教学</h2> 
       </div> </a> 
      #category(id="809")<a href="#(category.path)"><img src="#(tpath)/static/images/1-1FS011040a00-lp.jpg" alt="野外紧急避震必知技巧"> </a>#end 
     </div> 
     <ul class="info-list"> 
     #content_list(categoryId=809,count=3)
     #for(content : contents)
      <li class="am-text-truncate"><a href="#(content.path)">#(content.title)</a></li> 
      #end
      #end
     </ul> 
    </div> 
    <div class="info-dib"> 
     <div class="info-top"> 
      <a href="index13.html"> 
       <div class="info-tit"> 
        <span class="am-text-truncate">Moral Education</span> 
        <h2>外语特色</h2> 
       </div> </a> 
      #category(id="812")<a href="#(category.path)"><img src="#(tpath)/static/images/1-1FS0110959215-lp.jpg" alt="教师必备：适用于多个场合的20分钟讲课"> </a>#end
     </div> 
     <ul class="info-list"> 
     #content_list(categoryId=812,count=3)
     #for(content : contents)
      <li class="am-text-truncate"><a href="#(content.path)">#(content.title)</a></li>
      #end
      #end 
     </ul> 
    </div> 
   </div> 
  </div> 
  <div class="site-middle"> 
   <div class="am-container info-midpd"> 
    <div class="am-g am-g-collapse"> 
     <div class="am-u-md-6 am-u-sm-12"> 
      <div class="am-g"> 
       <div class="am-u-lg-11 am-u-sm-12"> 
        <div class="mid-nr" data-am-scrollspy="{animation: 'fade',repeat: false}">
         #category(id="816")<a href="#(category.path)" class="mid-img"><img src="#(tpath)/static/images/ix1.jpg" alt="国际交流"><span class="mid-ms"> <h4>International Exchange</h4> <h2>国际交流</h2> </span></a>#end
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="am-u-md-6 am-u-sm-12"> 
      <div class="am-g"> 
       <div class="am-u-lg-11 am-u-sm-12 am-u-lg-offset-1"> 
        <div class="mid-nr" data-am-scrollspy="{animation: 'fade',delay: 300,repeat: false}">
          #category(id="819")<a href="#(category.path)" class="mid-img"><img src="#(tpath)/static/images/ix2.jpg" alt="学子风采"><span class="mid-ms"> <h4>Works of Excellence</h4> <h2>学子风采</h2> </span></a>#end
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  
  
  
  <!--[if lt IE 9]>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/modernizr.js"></script>
<script src="static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]--> 
  <script src="#(tpath)/static/js/amazeui.js"></script> 
  <script src="#(tpath)/static/js/jquery.SuperSlide.2.1.1.js"></script> 
  <script src="#(tpath)/static/js/main.js"></script>   
 </body>
</html>