<!-- common start -->
#include("common.html")
<!-- common end -->
<!DOCTYPE html>
<html>
 <head lang="en"> 
  <meta charset="UTF-8"> 
  <title>学子风采-详情</title> 
  <meta name="keywords" content="学子风采-详情"> 
  <meta name="description" content="学子风采-详情"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="format-detection" content="telephone=no"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="Cache-Control" content="no-siteapp"> 
  <link rel="stylesheet" href="#(tpath)/static/css/amazeui.css"> 
  <link rel="stylesheet" href="#(tpath)/static/css/main.css"> 
 </head> 
 <body> 
  <!--[if (gte IE 9)|!(IE)]><!--> 
  <script src="#(tpath)/static/js/jquery.min.js"></script> 
  <!--<![endif]--> 
  <!-- header start -->
 #include("header.html")
 <!-- header end -->
  <div class="list-main"> 
   <div class="am-container"> 
    <div class="list-nav" data-am-sticky=""> 
     <ul class="am-cf"> 
      #category_children_list(categoryId=currentCategory.parentId)
      #for(category : categorys)
      <li #if(category.id==currentCategory.id)class="list-active"#end><a href="#(category.path)">#(category.name)</a></li>
      #end
      #end
     </ul> 
     <div class="curBg"></div> 
     <div class="cls"></div> 
    </div> 
    <div>
     <img src="#(tpath)/static/images/banner.png" class="am-img-responsive" alt="">
    </div> 
    <div class="list-pag">
      当前位置：
     <a href="#(currentSite.url)/">主页</a> &gt; 
     <a href="#(currentCategory.parent.path)">#(currentCategory.parent.name)</a> &gt; 
     <a href="#(currentCategory.path)">#(currentCategory.name)</a> &gt; 
    </div> 
    <div class="list-center"> 
     <div class="show-con"> 
      <div class="show-con-top"> 
       <span> <h1>张三丰</h1> </span> 
       <p>浏览：191　日期：2017-08-30</p> 
      </div> 
      <div class="show-con-nr"> 
       <div style="text-align: center;"> 
        <img alt="" src="#(tpath)/static/images/1-1FS0004ZO17.jpg" style="width: 260px; height: 320px;">
       </div> 
       <br> 张三，中国人最耳熟能详的名字。张三可能真有其人，但更多时候与李四、王五一起指代不特定的某个人，揶揄或者概括常用。例如古代说书人常说：那张三的李四的都来了。也常被用在文学影视作品中。因此名平常普通，近来也被用来指代一个普通人群体，即“张三族”。
       <br> 
       <br> 
       <div>
         如果你是背着生活压力的男人，你就已经成为了“张三族”的候选人。你可能是个生活平稳的中年男人，工作还算稳定，家庭还算和睦，孩子还算听话，每月数额不菲的房贷对生活还构不成太大压力，父母的身体也还算健康。中国人讲究知足常乐，知足常乐没错，可以让人常常保持放松的心态，但它同样也有害处，最大的害处就是容易让人懈怠，容易让人不思进取。平稳总是相对的，你没有意识到领导对你工作的不满是因为你的懈怠，反过来你却说认为领导实在变态；你没有注意到父母的身体一天天变差；你没有注意到温和的妻子已与你渐渐远行……小心了，如果任何一个危机爆发，你都会迅速沦为“张三族”徐峥解读“张三族”
        <br> &nbsp;
       </div> 
       <div>
         反映都市小人物奋斗故事的《老爸快跑》在央视掀起热浪。一个三十多岁的都市小男人，原本过着懒散、邋遢的小市民生活，一连串突如其来的打击令他方寸大乱，老婆离婚、小店被骗、老父亲生病、争夺孩子抚养权……他的名字叫“张三”，这部戏的热播还引发了一个新名词——张三族，意指生活现状令人堪忧的中年男性。关于张三族的话题油然而生，而扮演张三的徐峥对这个不起眼的群体有着特殊的理解。在接受当年的“张三生活”。
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- footer start -->
 #include("footer.html")
 <!-- footer end -->
  <!--[if lt IE 9]>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/modernizr.js"></script>
<script src="static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]--> 
  <script src="#(tpath)/static/js/amazeui.js"></script> 
  <script src="#(tpath)/static/js/jquery.SuperSlide.2.1.1.js"></script> 
  <script src="#(tpath)/static/js/main.js"></script>  
 </body>
</html>