<!-- common start -->
#include("common.html")
<!-- common end -->
<!DOCTYPE html>
<html>
 <head lang="en"> 
  <meta charset="UTF-8"> 
  <title>招生招聘-详情</title> 
  <meta name="keywords" content="招生招聘-详情"> 
  <meta name="description" content="招生招聘-详情"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="format-detection" content="telephone=no"> 
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="Cache-Control" content="no-siteapp"> 
  <link rel="stylesheet" href="#(tpath)/static/css/amazeui.css"> 
  <link rel="stylesheet" href="#(tpath)/static/css/main.css"> 
 </head> 
 <body> 
  <!--[if (gte IE 9)|!(IE)]><!--> 
  <script src="#(tpath)/static/js/jquery.min.js"></script> 
  <!--<![endif]--> 
  <!-- header start -->
 #include("header.html")
 <!-- header end -->
 
  <div class="list-main"> 
   <div class="am-container"> 
    <div class="list-nav" data-am-sticky=""> 
     <ul class="am-cf"> 
      #category_children_list(categoryId=currentCategory.parentId)
      #for(category : categorys)
      <li #if(category.id==currentCategory.id)class="list-active"#end><a href="#(category.path)">#(category.name)</a></li>
      #end
      #end
     </ul> 
     <div class="curBg"></div> 
     <div class="cls"></div> 
    </div> 
    <div>
     <img src="#(tpath)/static/images/banner.png" class="am-img-responsive" alt="">
    </div> 
    <div class="list-pag">
      当前位置：
     <a href="#(currentSite.url)/">主页</a> &gt; 
     <a href="#(currentCategory.parent.path)">#(currentCategory.parent.name)</a> &gt; 
     <a href="#(currentCategory.path)">#(currentCategory.name)</a> &gt; 
    </div> 
    <div class="list-center"> 
     <div class="show-con"> 
      <div class="show-con-top"> 
       <span> <h1>招初中德语教师5名</h1> </span> 
       <p>浏览：171　日期：2017-08-30</p> 
      </div> 
      <div class="show-con-nr"> 
       <div>
         1、针对3到12岁孩子的舞蹈教学工作。
       </div> 
       <div>
         2、讲究课堂艺术，努力调动学员学习积极性，要有耐心，细心，责任心，不断提高学员的学习兴趣。
       </div> 
       <div>
         3、根据教案做好课前备课工作。
       </div> 
       <div>
         4、善于沟通，有团队合作精神。
       </div> 
       <div>
         5、做好学员的考级工作，完成每学年学员的汇报演出。
       </div> 
       <div>
         6、完成学校下达的各种演出节目的编排任务。
       </div> 
       <div> 
        <br> &nbsp;
       </div> 
       <div>
         任职要求：
       </div> 
       <div>
         1、1年及以上幼儿舞蹈教学工作经验。
       </div> 
       <div>
         2、有爱心，耐心，责任心，教学上有创新思维。
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- footer start -->
 #include("footer.html")
 <!-- footer end -->
  <!--[if lt IE 9]>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/modernizr.js"></script>
<script src="static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]--> 
  <script src="#(tpath)/static/js/amazeui.js"></script> 
  <script src="#(tpath)/static/js/jquery.SuperSlide.2.1.1.js"></script> 
  <script src="#(tpath)/static/js/main.js"></script>  
 </body>
</html>