<!-- header start -->
#include("header.html")
<!-- header end -->
<div class="banner minBanner" id="banner">
	<ul class="list">
     #slide_list(count=3,gid=2)
	#for(slide : slides)
     <li><img src="#(slide.image)" alt="#(slide.title)" /></li>
   	#end
	#end
     </ul>
	<div class="tip"></div>
    
  <div class="clear"></div>
</div>

	<!--banner end-->
	<div class="submian w">
      <div class="ne_left"></div>
      <div class="ne_right"></div>
		<!-- left start -->
	#include("left.html")
	<!-- left end -->
		<!--right-->
		<div class="subright fr">
        <div class="sobtitle">
	<p class="fl">#(currentCategory.name)</p>
	<div class="sitepath fr">当前位置：#include("position.html")</div>
	<i></i>
</div>
			<div class="content" id="content">
        	<div class="product-content">
            	<div class="original2">
                	<img src="#(currentContent.ico)" title="#(currentContent.title)" alt="#(currentContent.title)">
                </div>
                <div class="product-info2">
                    <h1>#(currentContent.title)</h1>
                    <div class="clear"></div>
                    <dl class="telx">
                        <dt>全国咨询热线：</dt>
                        <dd ig-phone="">#(currentContent.mobile)</dd>
                    </dl>
                </div>
                <div class="clear"></div>
                <div class="article-container">
                	<div class="article-head">
                    	<h2>详情介绍:</h2>
                    </div>
                    <div class="article" id="article">#(currentContent.introduction)</div>
                    <div class="bdshare">
    <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1460094611815">
        <!--a href="#" class="bds_more" data-cmd="more"></a-->
        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    </div>
   
</div>
                </div>
            </div>
      	</div>
		<div class="relink">
        	<p><b>向前：</b>#if(currentContent.lastContent??)<a href="#(currentContent.lastContent.path)">#(abbreviate(currentContent.lastContent.title,15,''))</a>#else无#end</p>
            <p><b>向后：</b>#if(currentContent.nextContent??)<a href="#(currentContent.nextContent.path)">#(abbreviate(currentContent.nextContent.title,15,''))</a>#else无#end</p>
        </div>
		</div>
		<!--right-->
		<div class="clear"></div>
	</div>
<!-- footer start -->
#include("footer.html")
<!-- footer end -->