<!-- common start -->
#include("common.html")
<!-- common end -->
<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport"> 
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> 
  <!--离线应用的另一个技巧--> 
  <meta content="yes" name="apple-mobile-web-app-capable"> 
  <!--指定的iphone中safari顶端的状态条的样式--> 
  <meta content="black" name="apple-mobile-web-app-status-bar-style"> 
  <!--告诉设备忽略将页面中的数字识别为电话号码--> 
  <meta content="telephone=no" name="format-detection"> 
  <meta http-equiv="Page-Enter" content="revealTrans(duration=5, transition=2)"> 
  <meta http-equiv="Page-Exit" content="revealTrans(duration=5, transition=2)"> 
  <title>这是一条新闻3_我的网站</title> 
  <meta name="description" content="站点描述"> 
  <meta name="keywords" content="站点默认关键字"> 
  <link rel="stylesheet" type="text/css" href="#(tpath)/static/css/basic.css"> 
  <link rel="stylesheet" type="text/css" href="#(tpath)/static/css/style.css"> 
  <script type="text/javascript" src="#(tpath)/static/js/jquery.min.js"></script> 
  <script type="text/javascript" src="#(tpath)/static/js/TouchSlide.1.1.js"></script> 
  <script src="#(tpath)/static/js/slide-js.js"></script> 
  <script type="text/javascript" src="#(tpath)/static/js/respond.min.js"></script> 
  <script type="text/javascript" src="#(tpath)/static/js/respond.src.js"></script> 
  <script type="text/javascript" src="#(tpath)/static/js/script.js" defer></script> 
  <script type="text/javascript" src="#(tpath)/static/js/lazy.js"></script> 
  <script>
    $(function(){
$("img").lazyload({
threshold : 200,
effect : "fadeIn"
});
     })
</script> 
  <!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]--> 
 </head> 
 <body> 
  <div id="wrap"> 
    <!-- header start -->
 #include("header.html")
 <!-- header end -->
   <div class="wq_page"> 
    <div class="pcbox"> 
     <div class="kcpage_nav clearfix">
      <a href="#(currentSite.url)/">主页</a> &gt; 
      <a href="#(currentCategory.path)">新闻资讯</a> &gt; 
     </div> 
     <div class="wq_page_main"> 
      <div class="wq_page_main_top" style="border:none;"> 
       <div class="zp_page_title">
        这是一条新闻3
       </div> 
       <div class="xwpage">
        时间：2016-12-23&nbsp;&nbsp;浏览：176人
       </div> 
       <div class="xwpage_text clearfix">
         这是一条新闻
        <br> 这是一条新闻
        <br> 这是一条新闻这是一条新闻这是一条新闻这是一条新闻这是一条新闻
        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <!-- footer start -->
 #include("footer.html")
 <!-- footer end -->
  </div>  
 </body>
</html>