<!-- common start -->
#include("common.html")
<!-- common end -->
<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport"> 
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> 
  <!--离线应用的另一个技巧--> 
  <meta content="yes" name="apple-mobile-web-app-capable"> 
  <!--指定的iphone中safari顶端的状态条的样式--> 
  <meta content="black" name="apple-mobile-web-app-status-bar-style"> 
  <!--告诉设备忽略将页面中的数字识别为电话号码--> 
  <meta content="telephone=no" name="format-detection"> 
  <meta http-equiv="Page-Enter" content="revealTrans(duration=5, transition=2)"> 
  <meta http-equiv="Page-Exit" content="revealTrans(duration=5, transition=2)"> 
  <title>在线报名</title> 
  <meta name="description" content="站点描述"> 
  <meta name="keywords" content="站点默认关键字"> 
  <link rel="stylesheet" type="text/css" href="#(tpath)/static/css/basic.css"> 
  <link rel="stylesheet" type="text/css" href="#(tpath)/static/css/style.css"> 
  <script type="text/javascript" src="#(tpath)/static/js/jquery.min.js"></script> 
  <script type="text/javascript" src="#(tpath)/static/js/TouchSlide.1.1.js"></script> 
  <script src="#(tpath)/static/js/slide-js.js"></script> 
  <script type="text/javascript" src="#(tpath)/static/js/respond.min.js"></script> 
  <script type="text/javascript" src="#(tpath)/static/js/respond.src.js"></script> 
  <script type="text/javascript" src="#(tpath)/static/js/script.js" defer></script> 
  <script type="text/javascript" src="#(tpath)/static/js/lazy.js"></script> 
  <script>
    $(function(){
$("img").lazyload({
threshold : 200,
effect : "fadeIn"
});
     })
</script> 
  <!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]--> 
 </head> 
 <body> 
  <div id="wrap"> 
   <!-- header start -->
 #include("header.html")
 <!-- header end -->
   <div class="zxbm"> 
    <div class="pcbox"> 
     <div class="zxbm_main"> 
      <div class="zxbm_title">
       <img src="#(tpath)/static/images/bj20.png">
      </div> 
      <div class="zxbm_form"> 
       <form action="" enctype="multipart/form-data" name="reg_testdate" id="forms" method="post"> 
        <input name="action" value="post" type="hidden"> 
        <input name="diyid" value="1" type="hidden"> 
        <input name="do" value="2" type="hidden"> 
        <div class="clearfix zxbm_form_list"> 
         <div class="fl zxbm_form_left clearfix"> 
          <input name="xingming" id="xingming" class="zxbm_ipt ipt1 fl" placeholder="真实姓名" type="text"> 
          <div class="zxbm_icon fl">
           *
          </div> 
         </div> 
         <div class="fl zxbm_form_right clearfix"> 
          <input type="text" class="zxbm_ipt2 ipt2 fl" id="dizhi" placeholder="所在地址" name="dizhi"> 
          <div class="zxbm_icon fl">
           *
          </div> 
         </div> 
        </div> 
        <div class="clearfix zxbm_form_list"> 
         <div class="fl zxbm_form_left clearfix"> 
          <input type="text" class="zxbm_ipt ipt3 fl" id="nianling" placeholder="年龄" onkeyup="this.value=this.value.replace(/\D/gi,&quot;&quot;)" maxlength="3" name="nianling"> 
          <div class="zxbm_icon fl">
           *
          </div> 
         </div> 
         <div class="fl zxbm_form_right clearfix"> 
          <input type="text" class="zxbm_ipt2 ipt4 fl" id="shouji" onkeyup="this.value=this.value.replace(/\D/gi,&quot;&quot;)" maxlength="11" placeholder="手机号码" name="shouji"> 
          <div class="zxbm_icon fl">
           *
          </div> 
         </div> 
        </div> 
        <div class="clearfix zxbm_form_list"> 
         <div class="fl zxbm_form_left clearfix"> 
          <div class="fl zxbm_form_left_left clearfix"> 
           <div class="fl zxbm_form_left_t1">
            性别
           </div> 
           <div class="fl zxbm_form_left_t2"> 
            <label><input name="xingbie" class="np" value="男" checked type="radio">男</label> 
            <label><input name="xingbie" class="np" value="女" type="radio">女</label> 
           </div> 
          </div> 
          <div class="zxbm_icon fl">
           *
          </div> 
         </div> 
         <div class="fl zxbm_form_right clearfix"> 
          <input type="text" class="zxbm_ipt2 ipt5 fl" id="weixin" placeholder="微信号" name="weixin"> 
          <!-- <div class="zxbm_icon fl">*</div> --> 
         </div> 
        </div> 
        <div class="clearfix zxbm_form_list"> 
         <div class="fl zxbm_form_left clearfix"> 
          <input type="text" class="zxbm_ipt ipt6 fl" placeholder="Email" id="email" name="email"> 
          <!-- <div class="zxbm_icon fl">*</div> --> 
         </div> 
         <div class="fl zxbm_form_right clearfix"> 
          <div class="clearfix zxbm_form_right_right fl"> 
           <div class="zxbm_form_right_t1 fl">
            感兴趣的专业
           </div> 
           <div class="zxbm_form_right_t2 fl"> 
            <select class="zxbm_select" name="zhuanye"> <option value="至尊Dj班">至尊Dj班</option> <option value="全能Dj班"> 全能Dj班</option> <option value="超级Dj班"> 超级Dj班</option> <option value="普通Dj班"> 普通Dj班</option> <option value="普通Dj班">普通Dj班</option> <option value="专业Mc">专业Mc</option> <option value="专业搓盘班"> 专业搓盘班</option> <option value="短期Dj班"> 短期Dj班 </option> </select> 
           </div> 
          </div> 
          <div class="zxbm_icon fl">
           *
          </div> 
         </div> 
        </div> 
        <div class="clearfix zxbm_form_list"> 
         <div class="fl zxbm_form_left3 clearfix"> 
          <textarea class="zxbm_textarea" placeholder="个人简介" name="jianjie" id="jianjie"></textarea> 
         </div> 
         <div class="zxbm_icon fl">
          *
         </div> 
        </div> 
        <input type="hidden" name="dede_fields" value="xingming,text;dizhi,text;nianling,text;shouji,text;xingbie,radio;weixin,text;email,text;zhuanye,radio;yyyy,select;mm,select;dd,select;jianjie,multitext"> 
        <input type="hidden" name="dede_fieldshash" value="c192377322c35630575cc906caa232fc"> 
        <div class="clearfix zxbm_form_list"> 
         <input name="submit" value="我要报名" class="zxbm_sub" type="submit"> 
        </div> 
       </form> 
      </div> 
     </div> 
    </div> 
   </div> 
   <!-- footer start -->
 #include("footer.html")
 <!-- footer end -->
  </div>  
 </body>
</html>