/******************************
 ** 初始化 / 兼容到IE7
 ******************************/
* { margin:0; padding:0; }
html { height:100%; }
body  { max-width:1920px; min-width:1200px; margin:0 auto; font:14px/2 'Microsoft Yahei', Arial; color:#666; background:#fff; }
img { border:0px; }
ul, ol { list-style-type:none; vertical-align:bottom; }
table { border-collapse:collapse; border-spacing:0; }
input, textarea, select { font:14px/1 'Microsoft Yahei', Arial; color:#666; outline:0; }
textarea { resize:none; overflow:auto; }
h1,h2,h3,h4,h5,h6,font { font-size:14px; }
a { color:#333; text-decoration:none; cursor:pointer; }
a:hover, a:active { color:#3db7ef; }
a:link,
a:link img,
input { transition:all .3s linear; }

.clear { float:none !important; clear:both; +line-height:0; +font-size:0; +height:0; }
.hidden { display:none; visibility:visible; }
.wrap { width:1200px; margin:0 auto; position:relative; }


/******************************
 ** 首页
 ******************************/
.topper { height:40px; border-bottom:1px solid #ddd; }
.topper .wel { float:left; line-height:40px; }
.topper .url { float:right; line-height:40px; }
.topper .url li { float:left; margin:0 0 0 20px; }

.header { height:140px; background:#fff;  }
.header .logo { float:left; margin:28px 20px 0 0; }
.header .logo img { display:block; height:75px; width: 475px}
.header .tag { float:left; margin:39px 0 0; padding:5px 0 5px 20px; background:url(../images/header-line.png) left center no-repeat; color:#172646; }
.header .tag h2,
.header .tag h3 { line-height:25px; font-size:17px; font-weight:normal; }
.header .tag span { color:#F00; }
.header .tel { float:right; margin:30px 0 0 0; padding:0 0 0 70px; background:url(../images/header-tel.png) left center no-repeat; }
.header .tel h2,
.header .tel h3 { width:100%; }
.header .tel h2 { height:20px; line-height:20px; font-size:16px; font-weight:normal; }
.header .tel h3 { font-family:Impact; font-size:35px; line-height:40px; color:#F00; }

.nav { background:#0061ae; position:relative; z-index:10; }
.nav .list { float:left; height:60px; }
.nav li { float:left; width:143px; position:relative; }
.nav li:first-child { background:none; }
.nav li > a { display:block; line-height:60px; color:#fff; font-size:16px; text-align:center; }
.nav .drop { position:absolute; left:0; right:0; top:60px; width:100%; background:url(../images/0d681b47c4d8405f900df5808e2692eb.gif) center center repeat; padding:3px 0 0; display:none;  }
.nav .drop dl { overflow:hidden; background:url(../images/nav-drop.png) center center repeat; text-align:center; padding:5px 5px; }
.nav .drop dd { border-top:1px dashed #1a7fcf; }
.nav .drop dd:first-child { border-top:0; }
.nav .drop a { display:block; line-height:35px; color:#cce6ff; }
.nav .drop a:hover { color:#21a9e8; }
.nav li.active > a,
.nav li.current > a { color:#3db7ef; }

.banner { position:relative; z-index:8; }
.banner .list { position:relative; overflow:hidden; z-index:1; }
.banner .list li { position:absolute; width:100%; height:100%; overflow:hidden; background:#FFF; display:none; z-index:1; }
.banner .list li:first-child { display:block; }
.banner .list li.active { z-index:2; }
.banner .list img { position:relative; display:block; width:1920px; left:50%; margin:0 0 0 -960px; }
.banner .tip { position:absolute; left:50%; bottom:20px; margin:0 0 0 -35px; line-height:0; z-index:18; }
.banner .tip li { display:inline-block; +display:inline; +zoom:1; width:14px; height:14px; border-radius:50%; background:none; border:1px solid #fff; margin:0 5px; cursor:pointer; transition:all .3s ease; 
background:url(../images/0d681b47c4d8405f900df5808e2692eb.gif);}
.banner .tip li.active { background:#fff; }
.banner .prev,
.banner .next { width:80px; height:80px; position:absolute; top:50%; margin:-40px 0 0; z-index:9; cursor:pointer; display:none; }
.banner .prev { background:url(../images/banner-pw.png) 0 0 no-repeat; left:50px; }
.banner .next { background:url(../images/banner-pw.png) 0 -80px no-repeat; right:50px; }
.banner .prev:hover { background-position:-80px 0; }
.banner .next:hover { background-position:-80px -80px; }
.banner .list,
.banner .list img { height:500px; }
.banner.mini .list,
.banner.mini .list img { height:300px; }

.searcher { height:40px; padding:20px 0; position:relative; z-index:10; }
.searcher .key { float:left; font-size:15px; color:#999; margin:0 0 0 20px; }
.searcher .key li { display:inline-block; +display:inline; +zoom:1; height:40px; line-height:40px; }
.searcher .key a { margin:0 0 0 0; color:#999; }
.searcher .key a:hover { color:#3db7ef; }
.searcher .inner { float:right; position:relative; }
.searcher .inner .txt { width:240px; height:38px; line-height:38px; background:#f2f2f2; border:1px solid #ddd; padding:0 50px 0 10px; border-radius:8px 0 0 8px; }
.searcher .inner .submit { position:absolute; right:0; top:0; width:50px; height:40px; background:url(../images/searcher-submit.png) center center no-repeat #0061ae; border:0; cursor:pointer; }
.searcher .inner .submit:hover { background-color:#015190; }

.ipro { padding:20px 0; }
.ipro .head { height:60px; line-height:60px; margin:0 0 20px; text-align:center; }
.ipro .head h2,
.ipro .head h3 { display:inline-block; +display:inline; +zoom:1; vertical-align:middle; font-size:34px; font-weight:normal; }
.ipro .head h2 { }
.ipro .head h3 { text-transform:uppercase; margin:0 0 0 8px; }
.ipro .classify { width:100%; overflow:hidden; +padding:0 0 10px; }
.ipro .classify li { float:left; width:120px; height:38px; border:1px solid #ddd; border-radius:3px; margin:0 0 10px 10px; }
.ipro .classify a { display:block; line-height:38px; padding:0 0 0 20px; background:#ededed; }
.ipro .classify a:hover { background:#e5e5e5; }
.ipro .list { width:100%; overflow:hidden; }
.ipro .list li { float:left; width:285px; height:214px; margin:0 7px 15px; }
.ipro .list a { display:block; +height:214px; position:relative; }
.ipro .list img { display:block; width:100%; height:214px; }
.ipro .list h3 { position:absolute; left:0; bottom:0; right:0; line-height:35px; text-align:center; background:url(../images/ipro-h3.png) center center repeat; color:#FFF; font-weight:normal; }
.ipro .list a:hover img { opacity:.8; filter:Alpha(opacity=80); }

.icase { padding:20px 0; }
.icase .head { height:60px; line-height:60px; margin:0 0 20px; text-align:center; }
.icase .head h2,
.icase .head h3 { display:inline-block; +display:inline; +zoom:1; vertical-align:middle; font-size:34px; font-weight:normal; }
.icase .head h2 { }
.icase .head h3 { text-transform:uppercase; margin:0 0 0 8px; }
.icase .main { width:100%; overflow:hidden; position:relative; }
.icase .list { float:left; width:1000%; }
.icase .list li { float:left; width:258px; padding:15px 15px 25px; margin:0 15px 0 0; background:#efefef; }
.icase .list .img { margin:0 0 10px; overflow:hidden; }
.icase .list img { display:block; width:100%; height:194px; }
.icase .list a { transition:none; }
.icase .list h3 { font-weight:normal; font-size:16px; line-height:35px; margin:0 0 10px; border-bottom:1px solid #aaa; }
.icase .list p { height:44px; line-height:22px; overflow:hidden; color:#999; margin:0 0 10px; }
.icase .list .mo { text-align:right; }
.icase .list .mo a { display:inline-block; +display:inline; +zoom:1; font-size:12px; height:20px; line-height:20px; padding:0 8px; background:#FFF; border:1px solid #b3b3b3; border-radius:2px; color:#353535; }
.icase .list li:hover { background:#0061ae; }
.icase .list li:hover,
.icase .list li:hover p,
.icase .list li:hover a { color:#FFF; }
.icase .list li:hover h3 { border-color:#FFF; }
.icase .list li:hover .mo a { background:#e10500; border-color:#e10500; }
.icase .list li:hover img { transform:scale(1.02, 1.02); }

.inews { padding:20px 0; }
.inews .head { height:60px; line-height:60px; margin:0 0 20px; text-align:center; }
.inews .head h2,
.inews .head h3 { display:inline-block; +display:inline; +zoom:1; vertical-align:middle; font-size:34px; font-weight:normal; }
.inews .head h2 { }
.inews .head h3 { text-transform:uppercase; margin:0 0 0 8px; }
.inews .list2 { float:left; width:630px; }
.inews .list2 dd { padding:5px 5px 5px 165px; width:460px; height:114px; position:relative; background:#efefef; margin:0 0 14px; transition:all .5s ease; }
.inews .list2 .img { position:absolute; left:5px; top:5px; }
.inews .list2 img { display:block; width:151px; height:114px; }
.inews .list2 h3 { font-size:16px; line-height:40px; padding:10px 0 0; font-weight:normal; }
.inews .list2 p { height:50px; line-height:25px; overflow:hidden; color:#999; }
.inews .list2 a { }
.inews .list2 dd:hover { background:#e5e5e5; }
.inews .main { float:right; width:533px; overflow:hidden; height:400px; position:relative; }
.inews .list { width:1000%; overflow:hidden; }
.inews .list li { float:left; width:533px; }
.inews .list a { display:block; position:relative; }
.inews .list img { display:block; width:100%; height:400px; transition:all 5s ease-out; }
.inews .list li:hover img { transform:scale(1.2, 1.2); }
.inews .tip { position:absolute; bottom:10px; right:10px; line-height:0; }
.inews .tip li { display:inline-block; +display:inline; +zoom:1; width:16px; height:16px; line-height:16px; text-align:center; background:#FFF; font-size:12px; margin:0 0 0 2px; cursor:pointer; }
.inews .tip li.active { background:#f30; color:#FFF; }

.iabout { padding:20px 0 60px; }
.iabout .head { height:60px; line-height:60px; margin:0 0 20px; text-align:center; }
.iabout .head h2,
.iabout .head h3 { display:inline-block; +display:inline; +zoom:1; vertical-align:middle; font-size:34px; font-weight:normal; }
.iabout .head h2 { }
.iabout .head h3 { text-transform:uppercase; margin:0 0 0 8px; }
.iabout .sketch { float:left; width:342px; background:#eee; }
.iabout .sketch img { display:block; width:100%; height:257px; }
.iabout .ins { float:left; width:600px; height:257px; overflow:hidden; margin:0 0 0 40px; }
.iabout .ins h2 { font-size:18px; line-height:30px; margin:0 0 10px; }
.iabout .ins p { text-align:justify; line-height:30px; }
.iabout .url { float:right; width:; padding:0 0 0 6px; border-left:1px solid #ddd;  }
.iabout .url dd { width:160px; border-top:1px solid #ddd; text-align:center; }
.iabout .url dd:first-child { border-top:0; }
.iabout .url a { display:block; position:relative; padding:10px 0; }
.iabout .url img { display:block; margin:0 auto; width:60px; height:60px; }
.iabout .url h3 { line-height:30px; font-size:20px; font-weight:normal; }
.iabout .url h4 { line-height:16px; font-size:12px; font-weight:normal; }

.footer { padding:40px 0; background:#3d3d3d; color:#c7c6c6 }
.footer .fotm{width: 1200px;margin: 0 auto;}
.subnav { float:left; width:110px; margin:0 50px 0 0; }
.subnav dt { color:#FFF; font-size:16px; margin:0 0 10px; }
.subnav dt>a{color: #fff;}
.subnav dd { line-height:30px; }
.subnav dd a { color:#c7c6c6; }
.subnav dd a:hover { color:#999; }

.bottomconent { float:right; width:300px; padding:0 0 0 60px; border-left:1px solid #fff; }
.bottomconent p { line-height:30px; }

.bottomer { height:60px; line-height:60px; background:#202020; color:#FFF; }
.copyright { }
.supper { position:absolute; right:0; top:0; overflow:hidden; }
.supper li { float:left; margin:0 0 0 20px; }
.supper a { color:#FFF; }
.supper a:hover { color:#bbb; }

.toolbar { position:fixed; right:10px; top:300px; z-index:999; width:128px; }
.toolbar .top,
.toolbar .bottom { width:128px; height:19px; background:url(../images/toolbar-top.png) center top no-repeat; }
.toolbar .bottom { background-image:url(../images/toolbar-bottom.png); }
.toolbar .main { background:#0061ae; }
.toolbar .tel { padding:0 0 10px; }
.toolbar .tel dt { line-height:25px; background:url(../images/toolbar-tel.png) center top no-repeat; color:#FFF; text-align:center; padding:55px 0 0; }
.toolbar .tel dd { line-height:20px; color:#fff; text-align:center; }
.toolbar .qq { margin:0 10px 15px; border-top:1px dashed #4089c2; }
.toolbar .qq dd { border-bottom:1px dashed #4089c2; }
.toolbar .qq a { display:block; height:40px; line-height:40px; background:url(../images/toolbar-qq.png) 10px center no-repeat; color:#FFF; padding:0 0 0 40px; }
.toolbar .rcode { }
.toolbar .rcode dd { text-align:center; color:#FFF; }
.toolbar .rcode img { display:block; width:100px; height:100px; margin:0 auto; }
.toolbar .rcode h3 { font-weight:normal; }
.toolbar .itop { height:30px; background:url(../images/toolbar-itop.png) center center no-repeat; position:relative; top:5px; cursor:pointer; }
.toolbar .jing_pointer { width:27px; height:117px; position:absolute; top:95px; left:-27px; cursor:pointer; 
	background:url(../images/pointer7.png) 0 0 no-repeat; 
}
.toolbar .jing_pointer.active { left:111px; background-position:0 -120px !important; 
}






/******************************
 ** 内页风格
 ** 左右分栏
 ** v.2.0
 ******************************/
.wrapper { width:1200px; margin:0 auto; position:relative; padding:40px 0 50px; }
.sidebar { float:left; width:300px; margin:0 0 0 20px; }
.container { float:right; width:820px; margin:0 20px 0 0; }

.side-menuer { margin:0 0 20px; }
.topclass { height:70px; padding:25px 0; background:#0061ae; border-radius:5px; margin-bottom:10px; text-align:center; }
.topclass h2,
.topclass h3 { font-weight:normal; font-size:24px; line-height:1.4; white-space:nowrap; color:#fff; }
.topclass h3 { font-size:20px;   text-transform:uppercase; }
.side-menu { }
.side-menu dd { border-bottom:1px solid #eee; }
.side-menu dd > a { display:block; height:50px; line-height:50px; padding:0 0 0 25px; background:#FFF; color:#666; font-size:16px; border-radius:5px; }
.side-menu dd > a span { margin:0 0 0 10px;   font-size:14px; text-transform:uppercase; }
.side-menu .drop { display:none; padding:8px 0; }
.side-menu .drop li { }
.side-menu .drop a { display:block; padding:0 0 0 25px; height:30px; line-height:30px; font-size:15px; color:#999; }
.side-menu dd > a:hover { background:#f5f5f5; }
.side-menu .drop a:hover { color:#c5edff; }
.side-menu dd.current > a { background:url(../images/5ed447e1e8c2418b89c02d8f9121d31a.gif) right center no-repeat #2081cf; color:#FFF; transition:none;  }
.side-menu dd.current .drop { display:block; }
.side-menu .drop li.current a { color:#c5edff; }

.side-contact { }
.side-contact .head { height:50px; line-height:50px; background:#0061ae; color:#FFF; border-radius:5px 5px 0 0; }
.side-contact .head h2 { font-size:20px; font-weight:normal; margin:0 0 0 20px; }
.side-contact .main { border:1px solid #ddd; border-top:0; padding:10px 20px 20px; }

.location { position:relative; margin:0 0 20px; }
.location .head { height:60px; background:url(../images/e966f695f6cd446d9f9f941554709417.gif) left bottom repeat-x; }
.location .head h2,
.location .head h3 { height:40px; line-height:40px; vertical-align:middle; display:inline-block; +display:inline; +zoom:1; font-weight:normal; font-size:24px; }
.location .head h3 { margin:0 0 0 10px; color:#ddd; font-size:18px; text-transform:uppercase; }
.location .path { position:absolute; right:0; top:0; line-height:40px; color:#999; white-space:nowrap; }
.location .path span { margin:0 10px; }
.location .path a {   }



/******************************
 ** 公共架构
 ** v.1.2
 ******************************/
.article { text-align:justify; margin:0 0 20px; }
.article img { max-width:100%; }

.pager { width:100%; height:38px; margin-bottom:20px; text-align:center; }
.pager > * { display:inline-block; height:38px; line-height:38px; padding:0 20px; background:#FFF; border:1px solid #ddd; margin:0 5px; }
.pager > *:first-child { display:none; }
.pager > *:first-child + * { margin-left:0px; }
.pager > span { cursor:no-drop; }
.pager > span.cur { cursor:default; background:#f8f8f8; color:#d9324c; font-weight:bold; }
.pager > a:hover { background:#f9f9f9; }

.relink { border-top:1px solid #ddd; padding:20px 0; overflow:hidden; }
.relink p { float:right; height:30px; line-height:30px; overflow:hidden; }
.relink p:first-child { float:left;  }

.share { height:40px; position:relative; margin:0 0 5px; }
.share .bdsharebuttonbox { height:40px; }
.share.right .bdsharebuttonbox { float:right; }
.share span { float:left; height:27px; line-height:27px; margin:6px 6px 6px 0; }
.share a { float:left; padding-left:27px !important; height:27px !important; margin:6px 6px 6px 0; background-image:url(../images/67e1801c21c449b1b86d853c8e07c060.gif) !important; }
.share a.jing_qzone { background-position:0 0 !important; }
.share a.jing_tsina { background-position:0 -27px !important; }
.share a.jing_tqq { background-position:0 -54px !important; }
.share a.jing_renren { background-position:0 -81px !important; }
.share a.jing_weixin { background-position:0 -135px !important; }

.null { padding:0 0 150px 0; }

.rmd-pro { background:#fff; border:1px solid #ddd; margin:0 0 20px; }
.rmd-pro .head { height:40px; line-height:40px; position:relative; border-bottom:1px solid #ddd; }
.rmd-pro .head h2 { font-size:16px; font-weight:normal; padding:0 0 0 20px; color:#000; }
.rmd-pro .head .mo { position:absolute; right:20px; top:0;  }
.rmd-pro .main { position:relative; margin:0 20px 20px; overflow:hidden; padding:20px 0 0; }
.rmd-pro .list { float:left; width:500%; position:relative; }
.rmd-pro .list .item { float:left; width:180px; margin:0 20px 0 0; }
.rmd-pro .list .item a { display:block; position:relative; }
.rmd-pro .list .item img { width:100%; height:132px; display:block; background:#eee;  }
.rmd-pro .list .item h3 { height:40px; line-height:40px; text-align:center; font-weight:normal; }
.rmd-pro .list .item:hover img { opacity:.8; filter:Alpha(opacity=80); }

.rmd-pro .list2 { width:100%; margin:-10px 0 0; }
.rmd-pro .list2 .item { border-bottom:1px dashed #e5e5e5;  }
.rmd-pro .list2 .item h3 { line-height:40px; white-space:nowrap; font-weight:normal; overflow:hidden;  padding:0 0 0 15px; background:url(../images/c45e4d5addd544219251f9bd2684a915.gif) left center no-repeat; }

.rmd-form { background:#fff; border:1px solid #ddd; }
.rmd-form .head { height:40px; line-height:40px; position:relative; border-bottom:1px solid #ddd; }
.rmd-form .head h2 { font-size:16px; font-weight:normal; padding:0 0 0 20px; color:#000; }
.rmd-form .head .mo { position:absolute; right:20px; top:0; }
.rmd-form .main { overflow:hidden; padding:20px; }
.rmd-form .row-1,
.rmd-form .row-2,
.rmd-form .row-3 { margin-bottom:15px; position:relative; overflow:hidden; }
.rmd-form .row-1 { width:323px; height:auto; padding:0 0 0 50px; margin:0 0 15px 0; border:1px solid #ddd; }
.rmd-form .row-2 { width:100%; height:110px; border:1px solid #ddd; clear:both; }
.rmd-form .row-3 { float:left;  }
.rmd-form .row-3 + .row-3 { float:right; }
.rmd-form .ico-name { background:url(../images/885384fdbf10499d89fa5a197867c3bc.gif) 15px center no-repeat; }
.rmd-form .ico-phone { background:url(../images/7a9f5ecd6aa04b1c9621888b900adba3.gif) 15px center no-repeat; }
.rmd-form .ico-email { background:url(../images/a0ed87b0fa1d42dc9dd8eef9455368ac.gif) 15px center no-repeat; }
.rmd-form .tip { position:absolute; right:0; top:0; height:40px; line-height:40px; padding:0 10px; font-style:normal; color:#F00; }
.rmd-form .txt { width:100%; height:40px; line-height:40px; background:#fff; border:0; color:#999; }
.rmd-form .text { width:99%; border:0; background:#FFF; padding:5px 5px; line-height:20px; height:100px; color:#999; }
.rmd-form img.code { float:left; width:110px; height:42px; margin-right:20px; cursor:pointer; }
.rmd-form input.code { float:left; width:150px; height:40px; line-height:40px; border:1px solid #ddd; background:#FFF; margin-right:20px; padding:0 10px; color:#999; }
.rmd-form .submit, .rmd-form .reset { float:left; margin:0 0 0 10px; width:120px; height:42px; border:0; cursor:pointer; color:#FFF; font-size:16px; }
.rmd-form .submit { background:#0061ae; margin-left:0; }
.rmd-form .reset { background:#999; }
.rmd-form .submit:hover { background:#2081cf; }
.rmd-form .reset:hover { background:#777; }
.rmd-form .onfocus, .message-page .onfocus input.code { border-color:#aaa; }



/******************************
 ** 新闻
 ** v.2.0
 ******************************/
.news-lister { }
.news-lister .list { padding:0 0 20px; }
.news-lister .list .item { border-bottom:1px solid #ddd; position:relative; margin:0 0 10px; padding:0 0 15px; }
.news-lister .list .item a { display:block; }
.news-lister .list .item .date { position:absolute; right:0; top:0; font-size:16px; color:#999; }
.news-lister .list .item h3 { font-size:18px; font-weight:normal; }
.news-lister .list .item h3 a { color:#222;  }
.news-lister .list .item h3 a:hover { color:#bf132e;  }
.news-lister .list .item p { height:48px; line-height:24px; color:#999; overflow:hidden; }

.news-lister { }
.news-lister .list2 { padding:0 0 20px; }
.news-lister .list2 .item { border-bottom:1px solid #ddd; position:relative; margin:0 0 10px; padding:0 0 15px; }
.news-lister .list2 .item .date { color:#999; line-height:20px; margin:0 0 10px; }
.news-lister .list2 .item h3 { font-size:18px; font-weight:normal; }
.news-lister .list2 .item h3 a { color:#222;  }
.news-lister .list2 .item h3 a:hover { color:#bf132e;  }
.news-lister .list2 .item p { height:48px; line-height:24px; color:#999; overflow:hidden; }

.news2-lister {  }
.news2-lister .list { margin:-20px 0 0; padding:0 0 20px; }
.news2-lister .list .item { position:relative; height:120px; padding:20px 0 20px 180px; border-bottom:1px solid #e5e5e5;  }
.news2-lister .list .item .img { position:absolute; left:0; top:20px; width:160px; overflow:hidden; background:#f5f5f5; }
.news2-lister .list .item .img img { display:block; width:100%; height:120px; }
.news2-lister .list .item:hover img { opacity:.8; filter:Alpha(opacity=80); }
.news2-lister .list .item h3 { height:30px; line-height:30px; font-size:18px; font-weight:normal; margin:0 0 15px; overflow:hidden; }
.news2-lister .list .item p { height:72px; line-height:24px; overflow:hidden; text-align:justify; color:#999; margin:0 0 10px; }

.news2-lister {  }
.news2-lister .list2 { padding:0 0 20px; }
.news2-lister .list2 .item { position:relative; height:120px; padding:20px 20px 20px 200px; background:#f5f5f5; margin:0 0 10px;  }
.news2-lister .list2 .item .img { position:absolute; left:20px; top:20px; width:160px; overflow:hidden; background:#fff; }
.news2-lister .list2 .item .img img { display:block; width:100%; height:120px; }
.news2-lister .list2 .item h3 { height:30px; line-height:30px; font-size:18px; font-weight:normal; margin:0 0 15px; overflow:hidden; }
.news2-lister .list2 .item p { height:72px; line-height:24px; overflow:hidden; text-align:justify; color:#999; margin:0 0 10px; }
.news2-lister .list2 .item:hover { background:#eee; }
.news2-lister .list2 .item:hover img { opacity:.8; filter:Alpha(opacity=80); }

.news-detail { }
.news-detail h1 { font-size:20px; line-height:1.3; font-weight:normal; text-align:center; padding:0 0 5px; }
.news-detail .subsidiary { text-align:center; padding:0 0 10px; border-bottom:1px dashed #999; margin:0 0 20px; }
.news-detail .subsidiary li { display:inline-block; +display:inline; +zoom:1; height:40px; line-height:40px; color:#999; margin:0 15px; }
.news-detail .subsidiary li.hit { padding:0 0 0 26px; background:url(../images/dab54e6ac903468896f5710c17baca74.gif) left center no-repeat; }


/******************************
 ** 案例
 ** v.2.0
 ******************************/
.case-lister {  }
.case-lister .list { float:left; width:100%; padding:0 0 20px; }
.case-lister .list .item { float:left; width:260px; margin:0 0 10px 10px; background:#eee; }
.case-lister .list .item img { display:block; width:100%; height:195px; }
.case-lister .list .item h3 { height:45px; line-height:45px; font-weight:normal; text-align:center; background:#f9f9f9; border:1px solid #eee; }
.case-lister .list .item:hover img { opacity:.8; filter:Alpha(opacity=80); }

.case-lister {  }
.case-lister .list2 { float:left; width:100%; padding:0 0 20px; }
.case-lister .list2 .item { float:left; width:258px; margin:0 0 10px 10px; background:#eee; position:relative; }
.case-lister .list2 .item img { display:block; width:100%; height:195px; background:#f5f5f5; }
.case-lister .list2 .item h3 { position:absolute; left:0; right:0; bottom:0; height:45px; line-height:45px; font-weight:normal; text-align:center; background:#000;  color:#fff; }
.case-lister .list2 .item:hover img { opacity:.8; filter:Alpha(opacity=80); }

.case2-lister {  }
.case2-lister .list { margin:-20px 0 0; padding:0 0 20px; }
.case2-lister .list .item { position:relative; height:120px; padding:20px 0 20px 180px; border-bottom:1px solid #e5e5e5;  }
.case2-lister .list .item .img { position:absolute; left:0; top:20px; width:160px; overflow:hidden; background:#f5f5f5; }
.case2-lister .list .item .img img { display:block; width:100%; height:120px; }
.case2-lister .list .item:hover img { opacity:.8; filter:Alpha(opacity=80); }
.case2-lister .list .item h3 { height:30px; line-height:30px; font-size:18px; font-weight:normal; margin:0 0 15px; overflow:hidden; }
.case2-lister .list .item p { height:72px; line-height:24px; overflow:hidden; text-align:justify; color:#999; margin:0 0 10px; }

.case2-lister {  }
.case2-lister .list2 { padding:0 0 20px; }
.case2-lister .list2 .item { position:relative; height:120px; padding:20px 20px 20px 200px; background:#f5f5f5; margin:0 0 10px;  }
.case2-lister .list2 .item .img { position:absolute; left:20px; top:20px; width:160px; overflow:hidden; background:#fff; }
.case2-lister .list2 .item .img img { display:block; width:100%; height:120px; }
.case2-lister .list2 .item h3 { height:30px; line-height:30px; font-size:18px; font-weight:normal; margin:0 0 15px; overflow:hidden; }
.case2-lister .list2 .item p { height:72px; line-height:24px; overflow:hidden; text-align:justify; color:#999; margin:0 0 10px; }
.case2-lister .list2 .item:hover { background:#eee; }
.case2-lister .list2 .item:hover img { opacity:.8; filter:Alpha(opacity=80); }

.case-detail { }
.case-detail h1 { font-size:20px; line-height:1.3; font-weight:normal; text-align:center; padding:0 0 25px; }
.case-detail .photo { text-align:center; margin:0 auto 20px; }
.case-detail .photo img { width:500px; }


/******************************
 ** 产品
 ** v.2.0
 ******************************/
.product-lister {  }
.product-lister .list { float:left; width:100%; padding:0 0 20px; }
.product-lister .list .item { float:left; width:260px; margin:0 0 10px 10px; background:#eee; }
.product-lister .list .item img { display:block; width:100%; height:194px; }
.product-lister .list .item h3 { height:45px; line-height:45px; font-weight:normal; text-align:center; background:#f9f9f9; border:1px solid #eee; }
.product-lister .list .item:hover img { opacity:.8; filter:Alpha(opacity=80); }

.product-lister {  }
.product-lister .list2 { float:left; width:100%; padding:0 0 20px; }
.product-lister .list2 .item { float:left; width:258px; margin:0 0 10px 10px; background:#eee; position:relative; }
.product-lister .list2 .item img { display:block; width:100%; height:194px; background:#f5f5f5; }
.product-lister .list2 .item h3 { position:absolute; left:0; right:0; bottom:0; height:45px; line-height:45px; font-weight:normal; text-align:center;background:url(../images/coverx.png) center top repeat;color:#fff; }
.product-lister .list2 .item:hover img { opacity:.8; filter:Alpha(opacity=80); }

.product2-lister {  }
.product2-lister .list { float:left; width:100%; padding:0 0 20px; }
.product2-lister .list .item { float:left; width:258px; margin:0 0 10px 10px; background:#fff; }
.product2-lister .list .item img { display:block; width:100%; height:344px; background:#f5f5f5; +margin:0 0 -4px; }
.product2-lister .list .item .shadow { padding:10px 15px 15px; border:1px solid #e5e5e5; transition:all .5s ease; }
.product2-lister .list .item h3 { height:30px; line-height:30px; font-weight:normal; font-size:16px; color:#333; margin:0 0 5px; }
.product2-lister .list .item p { height:40px; line-height:20px; color:#666; overflow:hidden; text-align:justify; margin:0 0 10px; }
.product2-lister .list .item span { display:block; width:100px; height:34px; line-height:34px; background:#fff; border:1px solid #e5e5e5; color:#666; text-align:center; transition:all .5s ease; }
.product2-lister .list .item:hover img { opacity:.8; filter:Alpha(opacity=80); }
.product2-lister .list .item:hover .shadow { background:#e5e5e5; }
.product2-lister .list .item:hover span { border-color:#fff; width:120px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.product2-lister {  }
.product2-lister .list2 { float:left; width:102%; padding:0 0 20px; }
.product2-lister .list2 .item { float:left; width:405px; margin:0 10px 10px 0; background:#fff; }
.product2-lister .list2 .item a { display:block; position:relative; height:120px; padding:0 0 0 160px; }
.product2-lister .list2 .item img { display:block; width:160px; height:120px; background:#f5f5f5; position:absolute; left:0; top:0; }
.product2-lister .list2 .item .shadow { height:98px; padding:10px 10px 10px; border:1px solid #e5e5e5; transition:all .5s ease; }
.product2-lister .list2 .item h3 { height:30px; line-height:30px; font-weight:normal; font-size:15px; margin:0 0 5px; }
.product2-lister .list2 .item p { height:40px; line-height:20px; color:#666; overflow:hidden; text-align:justify; margin:0 0 10px; }
.product2-lister .list2 .item span { display:none; }
.product2-lister .list2 .item:hover img { opacity:.8; filter:Alpha(opacity=80); }
.product2-lister .list2 .item:hover .shadow { background:#e5e5e5; }

.product3-lister {  }
.product3-lister .list { margin:-20px 0 0; padding:0 0 20px; }
.product3-lister .list .item { position:relative; height:120px; padding:20px 0 20px 180px; border-bottom:1px solid #e5e5e5;  }
.product3-lister .list .item .img { position:absolute; left:0; top:20px; width:160px; overflow:hidden; background:#f5f5f5; }
.product3-lister .list .item .img img { display:block; width:100%; height:120px; }
.product3-lister .list .item:hover img { opacity:.8; filter:Alpha(opacity=80); }
.product3-lister .list .item h3 { height:30px; line-height:30px; font-size:18px; font-weight:normal; margin:0 0 15px; overflow:hidden; }
.product3-lister .list .item p { height:72px; line-height:24px; overflow:hidden; text-align:justify; color:#999; margin:0 0 10px; }

.product3-lister {  }
.product3-lister .list2 { padding:0 0 20px; }
.product3-lister .list2 .item { position:relative; height:120px; padding:20px 20px 20px 200px; background:#f5f5f5; margin:0 0 10px;  }
.product3-lister .list2 .item .img { position:absolute; left:20px; top:20px; width:160px; overflow:hidden; background:#fff; }
.product3-lister .list2 .item .img img { display:block; width:100%; height:120px; }
.product3-lister .list2 .item h3 { height:30px; line-height:30px; font-size:18px; font-weight:normal; margin:0 0 15px; overflow:hidden; }
.product3-lister .list2 .item p { height:72px; line-height:24px; overflow:hidden; text-align:justify; color:#999; margin:0 0 10px; }
.product3-lister .list2 .item:hover { background:#eee; }
.product3-lister .list2 .item:hover img { opacity:.8; filter:Alpha(opacity=80); }

.product-detail { margin:0 0 20px; }
.product-detail  .photo { float:left; width:440px; height:330px; overflow:hidden; }
.product-detail .photo img { display:block; width:100%; height:330px; }
.product-detail .info { margin:0 0 0 460px; position:relative; height:330px; }
.product-detail .info h1 { font-size:20px; line-height:1.4; margin-bottom:20px; font-weight:normal; }
.product-detail .info .des { width:100%; line-height:25px; margin-bottom:20px; overflow:hidden; }
.product-detail .info .order { width:355px; margin:3px 0 25px; }
.product-detail .info .order a { display:block; width:120px; height:40px; line-height:40px; color:#FFF; font-size:16px; background:#0061ae; text-align:center; border-radius:5px; }
.product-detail .info .order a:hover { background:#4295d9; }
.product-detail .info .tel { background:#fff; border:3px solid #eee; padding:20px; line-height:1.3; margin:0 0 20px; }
.product-detail .info .tel h2 { font-size:16px; font-weight:normal; }
.product-detail .info .tel h3 { font-size:36px; color:#0061ae; }
.product-article { border:1px solid #ddd; margin:0 0 -1px; }
.product-article .head { height:40px; line-height:40px; position:relative; border-bottom:1px solid #ddd; }
.product-article .head h2 { font-size:16px; font-weight:normal; padding:0 0 0 20px; color:#000; }
.product-article .article { padding:20px; }


/******************************
 ** 单页文章
 ** v.2.0
 ******************************/
.about-detail { padding:0 0 40px; }

.about-detail .bdmap {  height:400px; background:#f5f5f5; position:relative; z-index:1;  }

.BMap_bubble_title a { display:inline-block; padding:4px 10px; background:#c81528; color:#fff; border-radius:3px; }
.BMap_bubble_title a:hover { background:#e36100; }
.BMap_bubble_title + .BMap_bubble_content { line-height:18px; padding:9px 0 0; color:#777; }


/******************************
 ** 在线留言
 ** v.2.0
 ******************************/
.message-page { width:680px; }
.message-page .row-1,
.message-page .row-2,
.message-page .row-3 { width:100%; clear:both; margin-bottom:15px; position:relative; overflow:hidden; }
.message-page .row-1 { width:328px; height:auto; padding:0 0 0 50px; border:1px solid #ddd; }
.message-page .row-2 { height:110px; padding:0 0 0 0; border:1px solid #ddd; }
.message-page .row-3 {  }
.message-page .ico-name { background:url(../images/zzz.png) 15px center no-repeat; }
.message-page .ico-phone { background:url(../images/xxx.png) 15px center no-repeat; }
.message-page .ico-email { background:url(../images/a0ed87b0fa1d42dc9dd8eef9455368ac.gif) 15px center no-repeat; }
.message-page .tip { position:absolute; right:0; top:0; height:40px; line-height:40px; padding:0 10px; font-style:normal; color:#F00; }
.message-page .txt { width:100%; height:40px; line-height:40px; background:#fff; border:0; color:#999; }
.message-page .text { width:98%; border:0; background:#FFF; padding:5px 5px; line-height:20px; height:100px; color:#999; }
.message-page img.code { float:left; width:110px; height:42px; margin-right:20px; cursor:pointer; }
.message-page input.code { float:left; width:150px; height:40px; line-height:40px; border:1px solid #ddd; background:#FFF; margin-right:20px; padding:0 10px; color:#999; }
.message-page .submit, .message-page .reset { float:left; margin:0 0 0 10px; width:184px; height:42px; border:0; cursor:pointer; color:#FFF; font-size:16px; }
.message-page .submit { background:#0061ae; margin-left:0; }
.message-page .reset { background:#999; }
.message-page .submit:hover { background:#2081cf; }
.message-page .reset:hover { background:#777; }
.message-page .onfocus, .message-page .onfocus input.code { border-color:#aaa; }

.dialog-log { position:absolute; z-index:99; width:auto; padding:10px 20px; border:1px solid #e0272c; background:#ffe8e9; border-radius:3px; box-shadow:1px 1px 5px rgba(0,0,0,0.2); color:#e0272c; }
.dialog-log i { position:absolute; left:15px; top:-7px; width:14px; height:7px; background:url(../images/fdfb81123321454f8d8e84fa53ff31d6.gif) center center no-repeat; }


/******************************
 ** 兼容性
 ******************************/
body { _background:url(../images/2129b8579d664eb5aeb654ff436557f9.gif) center center no-repeat #fff; }
body > * { _display:none; }